<a href="https://colab.research.google.com/github/liliabakker/Projeto_individual/blob/main/Projeto_individual_Lilia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install gcsfs

In [ ]:
!pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.1.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)

In [ ]:
from pymongo import MongoClient
from pymongo.mongo_client import MongoClient
from pymongo import collection

In [ ]:
from google.cloud import storage
import os
import requests

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#INSTALAÇÃO DA BILIOTECA PYSPARK
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 47.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=e4e4cfe9583ffc5a92905e28a421e395feeae187a61746cada2a5d61f87863d0
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
#Importando BIBLIOTECAS/MÓDULOS NECESSÁRIAS
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F

from pyspark.sql.types import *
from pyspark.sql.window import Window
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, LongType, StringType, FloatType

In [ ]:
#CONFIGURAÇÃO DA CHAVE DE SEGURANÇA DO GCP
serviceAccount = r'/content/drive/MyDrive/Key/sturdy-willow-349116-351bc27fda1a.json'

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [ ]:
#CÓDIGO QUE ACESSA A BUCKET  GCP CRIADA E FAZ O DOWNLOAD DOS ARQUIVOS VIA PANDAS
client = storage.Client()

#CRIAR UMA VARIÁVEL CHAMADA BUCKET QUE VAI RECEBER O NOME DA BUCKET DO CLOUD STORAGE
bucket = client.get_bucket('liliatestesoulcode')
#USAR O MÉTODO BLOB PARA RETORNAR O NOME DO ARQUIVO (JSON, CSV, PARQUET)
bucket.blob('marketing_campaign.csv')
#CRIA UMA VARIÁVEL PATH PARA COLOCAR O CAMINHO DO CSV
#path = 'gs://datasets_pyspark/arquivo_geral.csv'
path = 'gs://liliatestesoulcode/Original/marketing_campaign.csv'
#df_pandas = pd.read_csv(path, sep=';')

In [ ]:
df = pd.read_csv(path, sep= ";")

In [ ]:
pd.set_option('display.max_columns',31)

In [ ]:
df.head(1)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1

# Conexão com o Mongo

In [ ]:
CONNECTION_STRING = "mongodb+srv://xxxxx:xxxxx@cluster0.nvzc2.mongodb.net/?retryWrites=true&w=majority"

In [ ]:
client = MongoClient(CONNECTION_STRING)

In [ ]:
dbname = client['Soul_Code']

In [ ]:
collection_name = dbname['Dados']

In [ ]:
client.stats

Database(MongoClient(host=['cluster0-shard-00-00.nvzc2.mongodb.net:27017', 'cluster0-shard-00-01.nvzc2.mongodb.net:27017', 'cluster0-shard-00-02.nvzc2.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-6l1j9f-shard-0', tls=True), 'stats')

In [ ]:
# Databases do mongodb
client.list_database_names()

# Inserindo os dados no Mongo

In [ ]:
# Redefinindo o index
df.reset_index()

,index,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,2235,10870,1967,Graduation,Married,61223.0,0,1,2013-06-13,46,709,43,182,42,118,247,2,9,3,4,5,0,0,0,0,0,0,3,11,0
2236,2236,4001,1946,PhD,Together,64014.0,2,1,2014-06-10,56,406,0,30,0,0,8,7,8,2,5,7,0,0,0,1,0,0,3,11,0
2237,2237,7270,1981,Graduation,Divorced,56981.0,0,0,2014-01-25,91,908,48,217,32,12,24,1,2,3,13,6,0,1,0,0,0,0,3,11,0
2238,2238,8235,1956,Master,Together,69245.0,0,1,2014-01-24,8,428,30,214,80,30,61,2,6,5,10,3,0,0,0,0,0,0,3,11,0
2239,2239,9405,1954,PhD,Married,52869.0,1,1,2012-10-15,40,84,3,61,2,1,21,3,3,1,4,7,0,0,0,0,0,0,3,11,1

In [ ]:
# Transformando o DataFrame em dicionário
dados = df.to_dict('records')

In [ ]:
# Inserindo os dados no banco   
collection_name.insert_many(dados)

# Atribuindo os Dados brutos ao Dataframe (Pandas)

In [ ]:
cursor = dbname['Dados'].find()

In [ ]:
cursor

In [ ]:
df_1 = pd.DataFrame(cursor)

# Tratamento Nível Pandas

- O arquivo está em outra linguagem e deve ter seus dados traduzidos para Português-BR
- Realizar a extração corretamente para um dataframe
- Verificar a existência de dados inconsistentes e realizar a limpeza para NaN ou NA
- Realizar o drop(se necessário) de colunas do dataframe realizando o comentário do porque da exclusão 
- Todos os passos devem ser comentados

## Pré-analise

In [ ]:
df_1.head(5)

,_id,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,62910757479a6f96a8175891,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,62910757479a6f96a8175892,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,62910757479a6f96a8175893,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,62910757479a6f96a8175894,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,62910757479a6f96a8175895,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0

In [ ]:
df_1.Dt_Customer.unique()

In [ ]:
df_1.drop(columns=['_id'], inplace= True)

In [ ]:
# Tipos de dados
df_1.dtypes

ID                       int64
Year_Birth               int64
Education               object
Marital_Status          object
Income                 float64
Kidhome                  int64
Teenhome                 int64
Dt_Customer             object
Recency                  int64
MntWines                 int64
MntFruits                int64
MntMeatProducts          int64
MntFishProducts          int64
MntSweetProducts         int64
MntGoldProds             int64
NumDealsPurchases        int64
NumWebPurchases          int64
NumCatalogPurchases      int64
NumStorePurchases        int64
NumWebVisitsMonth        int64
AcceptedCmp3             int64
AcceptedCmp4             int64
AcceptedCmp5             int64
AcceptedCmp1             int64
AcceptedCmp2             int64
Complain                 int64
Z_CostContact            int64
Z_Revenue                int64
Response                 int64
dtype: object

*Observações preliminares*
- 3 variáveis categóricas
- 26 numéricas, sendo 25 do tipo int e 1 float
- Anos 2012, 2013 e 2014

In [ ]:
#Backup do dataframe 
df1 = df_1.copy()

In [ ]:
# Todos os dados da coluna ID são únicos?
df1.ID.is_unique

True

In [ ]:
# Detectando valores ausentes
df1.isnull().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

## Tradução de Atributos (colunas) e dados

In [ ]:
# Quais os atributos das colunas?
df1.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [ ]:
# Sobreescrevendo os atributos das colunas:
df1.columns = ['ID_Cliente', 'Ano_Nascimento', 'Nivel_Escolaridade', 'Estado_Civil', 'Renda_Familiar', 'Criancas_em_Casa', 'Adolescentes_em_Casa',
             'Data_Cadastro', 'Dia_Ultima_Compra', 'Gasto_Vinho', 'Gasto_Frutas', 'Gasto_Carnes', 'Gasto_Pescados', 'Gasto_Doces', 
             'Gasto_Ouro', 'Compras_Desconto', 'Compras_Online', 'Compras_Catalogo', 'Compras_Loja', 'Visitas_Site', 'Campanha3_Aceita',
             'Campanha4_Aceita', 'Campanha5_Aceita', 'Campanha1_Aceita', 'Campanha2_Aceita', 'Reclamacao', 'Z_CostContact','Z_Revenue', 'Resposta_Campanha']

In [ ]:
# Verificando a quantidade de itens distintos de cada atributo
df1.nunique()

ID_Cliente              2240
Ano_Nascimento            59
Nivel_Escolaridade         5
Estado_Civil               8
Renda_Familiar          1974
Criancas_em_Casa           3
Adolescentes_em_Casa       3
Data_Cadastro            663
Dia_Ultima_Compra        100
Gasto_Vinho              776
Gasto_Frutas             158
Gasto_Carnes             558
Gasto_Pescados           182
Gasto_Doces              177
Gasto_Ouro               213
Compras_Desconto          15
Compras_Online            15
Compras_Catalogo          14
Compras_Loja              14
Visitas_Site              16
Campanha3_Aceita           2
Campanha4_Aceita           2
Campanha5_Aceita           2
Campanha1_Aceita           2
Campanha2_Aceita           2
Reclamacao                 2
Z_CostContact              1
Z_Revenue                  1
Resposta_Campanha          2
dtype: int64

In [ ]:
# Quais são os dados da coluna Nivel_Escolaridade?
df1.Nivel_Escolaridade.unique()

array(['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle'], dtype=object)

In [ ]:
# Tradução do atributo Nivel_Escolaridade:
(df1['Nivel_Escolaridade'].replace({'Graduation':'Ensino Superior', 'PhD':'Doutorado', 'Master':'Mestrado', '2n Cycle':'Pós Graduação', 'Basic':'Ensino Medio'}, inplace= True))

In [ ]:
# Quantos itens de cada dado?
df1['Nivel_Escolaridade'].value_counts()

Ensino Superior    1127
Doutorado           486
Mestrado            370
Pós Graduação       203
Ensino Medio         54
Name: Nivel_Escolaridade, dtype: int64

In [ ]:
# Quais são os dados da coluna Estado_Civil?
df1.Estado_Civil.unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone',
       'Absurd', 'YOLO'], dtype=object)

In [ ]:
# Tradução do atributo Estado_civil:
(df1['Estado_Civil'].replace({'Alone':'Solteiro(a)', 'Absurd': 'Solteiro(a)', 'YOLO': 'Solteiro(a)', 'Single': 'Solteiro(a)', 'Together': 'União Estável', 'Married':'Casado(a)', \
                              'Divorced':'Divorciado(a)', 'Widow':'Viúvo(a)'}, inplace=True))

In [ ]:
# Quantos itens de cada dado?
df1['Estado_Civil'].value_counts()

Casado(a)        864
União Estável    580
Solteiro(a)      487
Divorciado(a)    232
Viúvo(a)          77
Name: Estado_Civil, dtype: int64

 Foi observado que algumas colunas tem respostas do tipo booleana, essas foram "traduzidas" para uma melhor compreensão

In [ ]:
df1[['Campanha3_Aceita', 'Campanha4_Aceita', 'Campanha5_Aceita', 'Campanha1_Aceita', 'Campanha2_Aceita', 'Reclamacao', 'Resposta_Campanha']] = \
(df1[['Campanha3_Aceita', 'Campanha4_Aceita', 'Campanha5_Aceita', 'Campanha1_Aceita', 'Campanha2_Aceita', 'Reclamacao', 'Resposta_Campanha']].replace(0,'Não'))

In [ ]:
df1[['Campanha3_Aceita', 'Campanha4_Aceita', 'Campanha5_Aceita', 'Campanha1_Aceita', 'Campanha2_Aceita', 'Reclamacao', 'Resposta_Campanha']] = \
(df1[['Campanha3_Aceita', 'Campanha4_Aceita', 'Campanha5_Aceita', 'Campanha1_Aceita', 'Campanha2_Aceita', 'Reclamacao', 'Resposta_Campanha']].replace(1,'Sim'))

In [ ]:
(df1[['Campanha3_Aceita', 'Campanha4_Aceita', 'Campanha5_Aceita', 'Campanha1_Aceita', 'Campanha2_Aceita', 'Reclamacao', 'Resposta_Campanha']].replace(1,'Sim'))

In [ ]:
# Verificando alterações
df1

,ID_Cliente,Ano_Nascimento,Nivel_Escolaridade,Estado_Civil,Renda_Familiar,Criancas_em_Casa,Adolescentes_em_Casa,Data_Cadastro,Dia_Ultima_Compra,Gasto_Vinho,Gasto_Frutas,Gasto_Carnes,Gasto_Pescados,Gasto_Doces,Gasto_Ouro,Compras_Desconto,Compras_Online,Compras_Catalogo,Compras_Loja,Visitas_Site,Campanha3_Aceita,Campanha4_Aceita,Campanha5_Aceita,Campanha1_Aceita,Campanha2_Aceita,Reclamacao,Z_CostContact,Z_Revenue,Resposta_Campanha
0,5524,1957,Ensino Superior,Solteiro(a),58138.0,0,0,2012-09-04,58,635,88,546,172,88,88,3,8,10,4,7,Não,Não,Não,Não,Não,Não,3,11,Sim
1,2174,1954,Ensino Superior,Solteiro(a),46344.0,1,1,2014-03-08,38,11,1,6,2,1,6,2,1,1,2,5,Não,Não,Não,Não,Não,Não,3,11,Não
2,4141,1965,Ensino Superior,União Estável,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,Não,Não,Não,Não,Não,Não,3,11,Não
3,6182,1984,Ensino Superior,União Estável,26646.0,1,0,2014-02-10,26,11,4,20,10,3,5,2,2,0,4,6,Não,Não,Não,Não,Não,Não,3,11,Não
4,5324,1981,Doutorado,Casado(a),58293.0,1,0,2014-01-19,94,173,43,118,46,27,15,5,5,3,6,5,Não,Não,Não,Não,Não,Não,3,11,Não
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Ensino Superior,Casado(a),61223.0,0,1,2013-06-13,46,709,43,182,42,118,247,2,9,3,4,5,Não,Não,Não,Não,Não,Não,3,11,Não
2236,4001,1946,Doutorado,União Estável,64014.0,2,1,2014-06-10,56,406,0,30,0,0,8,7,8,2,5,7,Não,Não,Não,Sim,Não,Não,3,11,Não
2237,7270,1981,Ensino Superior,Divorciado(a),56981.0,0,0,2014-01-25,91,908,48,217,32,12,24,1,2,3,13,6,Não,Sim,Não,Não,Não,Não,3,11,Não
2238,8235,1956,Mestrado,União Estável,69245.0,0,1,2014-01-24,8,428,30,214,80,30,61,2,6,5,10,3,Não,Não,Não,Não,Não,Não,3,11,Não
2239,9405,1954,Doutorado,Casado(a),52869.0,1,1,2012-10-15,40,84,3,61,2,1,21,3,3,1,4,7,Não,Não,Não,Não,Não,Não,3,11,Sim

## Excluindo colunas
- Dropar as colunas Z_CostContact e Z_Revenue pois seus valores são os mesmos para todas as linhas

In [ ]:
df1.Z_CostContact.unique()

array([3])

In [ ]:
df1.drop(['Z_CostContact'], axis=1, inplace=True)

In [ ]:
df1.Z_Revenue.unique()

array([11])

In [ ]:
df1.drop(['Z_Revenue'], axis=1, inplace=True)

In [ ]:
df1.head(5)

,ID_Cliente,Ano_Nascimento,Nivel_Escolaridade,Estado_Civil,Renda_Familiar,Criancas_em_Casa,Adolescentes_em_Casa,Data_Cadastro,Dia_Ultima_Compra,Gasto_Vinho,Gasto_Frutas,Gasto_Carnes,Gasto_Pescados,Gasto_Doces,Gasto_Ouro,Compras_Desconto,Compras_Online,Compras_Catalogo,Compras_Loja,Visitas_Site,Campanha3_Aceita,Campanha4_Aceita,Campanha5_Aceita,Campanha1_Aceita,Campanha2_Aceita,Reclamacao,Resposta_Campanha
0,5524,1957,Ensino Superior,Solteiro(a),58138.0,0,0,2012-09-04,58,635,88,546,172,88,88,3,8,10,4,7,Não,Não,Não,Não,Não,Não,Sim
1,2174,1954,Ensino Superior,Solteiro(a),46344.0,1,1,2014-03-08,38,11,1,6,2,1,6,2,1,1,2,5,Não,Não,Não,Não,Não,Não,Não
2,4141,1965,Ensino Superior,União Estável,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,Não,Não,Não,Não,Não,Não,Não
3,6182,1984,Ensino Superior,União Estável,26646.0,1,0,2014-02-10,26,11,4,20,10,3,5,2,2,0,4,6,Não,Não,Não,Não,Não,Não,Não
4,5324,1981,Doutorado,Casado(a),58293.0,1,0,2014-01-19,94,173,43,118,46,27,15,5,5,3,6,5,Não,Não,Não,Não,Não,Não,Não

## Substituindo os valores ausentes pelo padrão NaN

In [ ]:
df1.fillna(value={'': np.nan}, inplace=True)

In [ ]:
df1

,ID_Cliente,Ano_Nascimento,Nivel_Escolaridade,Estado_Civil,Renda_Familiar,Criancas_em_Casa,Adolescentes_em_Casa,Data_Cadastro,Dia_Ultima_Compra,Gasto_Vinho,Gasto_Frutas,Gasto_Carnes,Gasto_Pescados,Gasto_Doces,Gasto_Ouro,Compras_Desconto,Compras_Online,Compras_Catalogo,Compras_Loja,Visitas_Site,Campanha3_Aceita,Campanha4_Aceita,Campanha5_Aceita,Campanha1_Aceita,Campanha2_Aceita,Reclamacao,Resposta_Campanha
0,5524,1957,Ensino Superior,Solteiro(a),58138.0,0,0,2012-09-04,58,635,88,546,172,88,88,3,8,10,4,7,Não,Não,Não,Não,Não,Não,Sim
1,2174,1954,Ensino Superior,Solteiro(a),46344.0,1,1,2014-03-08,38,11,1,6,2,1,6,2,1,1,2,5,Não,Não,Não,Não,Não,Não,Não
2,4141,1965,Ensino Superior,União Estável,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,Não,Não,Não,Não,Não,Não,Não
3,6182,1984,Ensino Superior,União Estável,26646.0,1,0,2014-02-10,26,11,4,20,10,3,5,2,2,0,4,6,Não,Não,Não,Não,Não,Não,Não
4,5324,1981,Doutorado,Casado(a),58293.0,1,0,2014-01-19,94,173,43,118,46,27,15,5,5,3,6,5,Não,Não,Não,Não,Não,Não,Não
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Ensino Superior,Casado(a),61223.0,0,1,2013-06-13,46,709,43,182,42,118,247,2,9,3,4,5,Não,Não,Não,Não,Não,Não,Não
2236,4001,1946,Doutorado,União Estável,64014.0,2,1,2014-06-10,56,406,0,30,0,0,8,7,8,2,5,7,Não,Não,Não,Sim,Não,Não,Não
2237,7270,1981,Ensino Superior,Divorciado(a),56981.0,0,0,2014-01-25,91,908,48,217,32,12,24,1,2,3,13,6,Não,Sim,Não,Não,Não,Não,Não
2238,8235,1956,Mestrado,União Estável,69245.0,0,1,2014-01-24,8,428,30,214,80,30,61,2,6,5,10,3,Não,Não,Não,Não,Não,Não,Não
2239,9405,1954,Doutorado,Casado(a),52869.0,1,1,2012-10-15,40,84,3,61,2,1,21,3,3,1,4,7,Não,Não,Não,Não,Não,Não,Sim

In [ ]:
df1.to_csv("gs://liliatestesoulcode/teste/campanha_marketing_1.csv",index=False)

# Tratamento Nível PySpark

- Deverá ser montada a estrutura do DataFrame utilizando o StructType.
- Verificar a existência de dados inconsistentes, nulos e realizar a limpeza.
- Verificar a necessidade de drop em colunas ou linhas. Caso seja necessário, fazer comentário do porque.
- Realizar a mudança de nome de pelo menos 2 colunas
- Deverá criar pelo menos duas novas colunas contendo alguma informação relevante sobre as outras colunas já existentes (Funções de Agrupamento, Agregação ou Joins). (Use a sua capacidade analítica)
- Deverá utilizar filtros, ordenação e agrupamento, trazendo dados relevantes para o negócio em questão. (Use a sua capacidade analítica)
- Utilizar pelo menos duas Window Functions

## Conversão do DataFrame Pandas para PySpark

In [ ]:
#CRIAR A SPARK SESSION E LER O ARQUIVO VIA PYSPARK
spark = (
    SparkSession.builder
                .master('local')
                .appName('spark-gcs')
                .config('spark.ui.port', '4050')
                .config("spark.jars", 'https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop2-latest.jar')
                .getOrCreate()
)

In [ ]:
spark

In [ ]:
# Criando o Schema e estruturando com StructType
meu_schema = ( StructType ([
                            StructField("ID", IntegerType(), True),
                            StructField("Ano_Nascimento", IntegerType(), True),
                            StructField("Nivel_Escolaridade", StringType(), True),
                            StructField("Estado_Civil", StringType(), True),
                            StructField("Renda_Familiar", FloatType(), True),
                            StructField("Crianças_em_Casa", IntegerType(), True),
                            StructField("Adolescentes_em_Casa", IntegerType(), True),
                            StructField("Data_Cadastro", StringType(), True),
                            StructField("Dia_Ultima_compra", IntegerType(), True),
                            StructField("Gasto_Vinho", IntegerType(), True),
                            StructField("Gasto_Frutas", IntegerType(), True),
                            StructField("Gasto_Carnes", IntegerType(), True),
                            StructField("Gasto_Pescados", IntegerType(), True),
                            StructField("Gasto_Doces", IntegerType(), True),
                            StructField("Gasto_Ouro", IntegerType(), True),
                            StructField("Compras_Desconto",IntegerType(), True),
                            StructField("Compras_Online", IntegerType(), True),
                            StructField("Compras_Catalogo", IntegerType(), True),
                            StructField("Compras_Loja", IntegerType(), True),
                            StructField("Visitas_Site", IntegerType(), True),
                            StructField("Campanha3_Aceita", StringType(), True),
                            StructField("Campanha4_Aceita", StringType(), True),
                            StructField("Campanha5_Aceita", StringType(), True),
                            StructField("Campanha1_Aceita", StringType(), True),
                            StructField("Campanha2_Aceita", StringType(), True),
                            StructField("Reclamacao", StringType(), True),
                            StructField("Resposta_Campanha", StringType(), True),      
                            ])
)

In [ ]:
dfSpark = (spark.read.format("csv")
                .option("header", True)
                .option("delimiter", ",")
                .load("gs://liliatestesoulcode/teste/campanha_marketing_1.csv", schema= meu_schema)
)

In [ ]:
# Criando o DataFrame
#df2 = spark.createDataFrame(df1, schema=meu_schema)

In [ ]:
# Verificando o Schema criado para o DataFrame
dfSpark.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Ano_Nascimento: integer (nullable = true)
 |-- Nivel_Escolaridade: string (nullable = true)
 |-- Estado_Civil: string (nullable = true)
 |-- Renda_Familiar: float (nullable = true)
 |-- Crianças_em_Casa: integer (nullable = true)
 |-- Adolescentes_em_Casa: integer (nullable = true)
 |-- Data_Cadastro: string (nullable = true)
 |-- Dia_Ultima_compra: integer (nullable = true)
 |-- Gasto_Vinho: integer (nullable = true)
 |-- Gasto_Frutas: integer (nullable = true)
 |-- Gasto_Carnes: integer (nullable = true)
 |-- Gasto_Pescados: integer (nullable = true)
 |-- Gasto_Doces: integer (nullable = true)
 |-- Gasto_Ouro: integer (nullable = true)
 |-- Compras_Desconto: integer (nullable = true)
 |-- Compras_Online: integer (nullable = true)
 |-- Compras_Catalogo: integer (nullable = true)
 |-- Compras_Loja: integer (nullable = true)
 |-- Visitas_Site: integer (nullable = true)
 |-- Campanha3_Aceita: string (nullable = true)
 |-- Campanha4_Aceita: string (nullable = true)
 |-- Campanha5_Aceita: string (nullable = true)
 |-- Campanha1_Aceita: string (nullable = true)
 |-- Campanha2_Aceita: string (nullable = true)
 |-- Reclamacao: string (nullable = true)
 |-- Resposta_Campanha: string (nullable = true)

In [ ]:
dfSpark.show()

+----+--------------+------------------+-------------+--------------+----------------+--------------------+-------------+-----------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+
|  ID|Ano_Nascimento|Nivel_Escolaridade| Estado_Civil|Renda_Familiar|Crianças_em_Casa|Adolescentes_em_Casa|Data_Cadastro|Dia_Ultima_compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carnes|Gasto_Pescados|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Online|Compras_Catalogo|Compras_Loja|Visitas_Site|Campanha3_Aceita|Campanha4_Aceita|Campanha5_Aceita|Campanha1_Aceita|Campanha2_Aceita|Reclamacao|Resposta_Campanha|
+----+--------------+------------------+-------------+--------------+----------------+--------------------+-------------+-----------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+
|5524|          1957|   Ensino Superior|  Solteiro(a)|       58138.0|               0|                   0|   2012-09-04|               58|        635|          88|         546|           172|         88|        88|               3|             8|              10|           4|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Sim|
|2174|          1954|   Ensino Superior|  Solteiro(a)|       46344.0|               1|                   1|   2014-03-08|               38|         11|           1|           6|             2|          1|         6|               2|             1|               1|           2|           5|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|4141|          1965|   Ensino Superior|União Estável|       71613.0|               0|                   0|   2013-08-21|               26|        426|          49|         127|           111|         21|        42|               1|             8|               2|          10|           4|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|6182|          1984|   Ensino Superior|União Estável|       26646.0|               1|                   0|   2014-02-10|               26|         11|           4|          20|            10|          3|         5|               2|             2|               0|           4|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|5324|          1981|         Doutorado|    Casado(a)|       58293.0|               1|                   0|   2014-01-19|               94|        173|          43|         118|            46|         27|        15|               5|             5|               3|           6|           5|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|7446|          1967|          Mestrado|União Estável|       62513.0|               0|                   1|   2013-09-09|               16|        520|          42|          98|             0|         42|        14|               2|             6|               4|          10|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
| 965|          1971|   Ensino Superior|Divorciado(a)|       55635.0|               0|                   1|   2012-11-13|               34|        235|          65|         164|            50|         49|        27|               4|             7|               3|           7|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|6177|          1985|         Doutorado|    Casado(a)|       33454.0|               1|                   0|   2013-05-08|               32|         76|          10|          56|             3|          1|        23|               2|             4|               0|           4|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|4855|          1974|         Doutorado|União Estável|       30351.0|               1|                   0|   2013-06-06|               19|         14|           0|          24|             3|          3|         2|               1|             3|               0|           2|           9|             Não|             Não|             Não|             Não|             Não|       Não|              Sim|
|5899|          1950|         Doutorado|União Estável|        5648.0|               1|                   1|   2014-03-13|               68|         28|           0|           6|             1|          1|        13|               1|             1|               0|           0|          20|             Sim|             Não|             Não|             Não|             Não|       Não|              Não|
|1994|          1983|   Ensino Superior|    Casado(a)|           NaN|               1|                   0|   2013-11-15|               11|          5|           5|           6|             0|          2|         1|               1|             1|               0|           2|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
| 387|          1976|      Ensino Medio|    Casado(a)|        7500.0|               0|                   0|   2012-11-13|               59|          6|          16|          11|            11|          1|        16|               1|             2|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|2125|          1959|   Ensino Superior|Divorciado(a)|       63033.0|               0|                   0|   2013-11-15|               82|        194|          61|         480|           225|        112|        30|               1|             3|               4|           8|           2|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|8180|          1952|          Mestrado|Divorciado(a)|       59354.0|               1|                   1|   2013-11-15|               53|        233|           2|          53|             3|          5|        14|               3|             6|               1|           5|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|2569|          1987|   Ensino Superior|    Casado(a)|       17323.0|               0|                   0|   2012-10-10|               38|          3|          14|          17|             6|          1|         5|               1|             1|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|2114|          1946|         Doutorado|  Solteiro(a)|       82800.0|               0|                   0|   2012-11-24|               23|       1006|          22|         115|            59|         68|        45|               1|             7|               6|          12|           3|             Não|             Não|             Sim|             Sim|             Não|       Não|              Sim|
|9736|          1980|   Ensino Superior|    Casado(a)|       41850.0|               1|                   1|   2012-12-24|               51|         53|           5|          19|             2|         13|         4|               3|             3|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|4939|          1946|   Ensino Superior|União Estável|       37760.0|               0|                   0|   2012-08-31|               20|         84|           5|          38|           150|         12|        28|               2|             4|               1|           6|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|6565|          1949|          Mestrado|    Casado(a)|       76995.0|               0|                   1|   2013-03-28|               91|       1012|          80|         498|             0|         16|       176|               2|            11|               4|           9|           5|             Não|             Não|             Não|             Sim|             Não|       Não|              Não|
|2278|          1985|     Pós Graduação|  Solteiro(a)|       33812.0|               1|                   0|   2012-11-03|               86|          4|          17|          19|            30|         24|        39|               2|             2|               1|           3|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
+----+--------------+------------------+-------------+--------------+----------------+--------------------+-------------+-----------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+
only showing top 20 rows

## Análise e Tratamento

In [ ]:
# ENCONTRAR QUANTIDADE DE VAZIO e NULO
dfSpark.select([F.count(F.when(F.col(c).contains('null') | \
                            (F.col(c) == '' ) | \
                            F.col(c).isNull() | \
                            F.isnan(c), c 
                           )).alias(c)
                    for c in dfSpark.columns]).show()

+---+--------------+------------------+------------+--------------+----------------+--------------------+-------------+-----------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+
| ID|Ano_Nascimento|Nivel_Escolaridade|Estado_Civil|Renda_Familiar|Crianças_em_Casa|Adolescentes_em_Casa|Data_Cadastro|Dia_Ultima_compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carnes|Gasto_Pescados|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Online|Compras_Catalogo|Compras_Loja|Visitas_Site|Campanha3_Aceita|Campanha4_Aceita|Campanha5_Aceita|Campanha1_Aceita|Campanha2_Aceita|Reclamacao|Resposta_Campanha|
+---+--------------+------------------+------------+--------------+----------------+--------------------+-------------+-----------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+
|  0|             0|                 0|           0|            24|               0|                   0|            0|                0|          0|           0|           0|             0|          0|         0|               0|             0|               0|           0|           0|               0|               0|               0|               0|               0|         0|                0|
+---+--------------+------------------+------------+--------------+----------------+--------------------+-------------+-----------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+

In [ ]:
# SUBSTITUIÇÃO DE VALORES NULOS
dfSpark = dfSpark.fillna(value=0, subset=['Renda_Familiar'])

In [ ]:
dfSpark.show()

+----+--------------+------------------+-------------+--------------+----------------+--------------------+-------------+-----------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+
|  ID|Ano_Nascimento|Nivel_Escolaridade| Estado_Civil|Renda_Familiar|Crianças_em_Casa|Adolescentes_em_Casa|Data_Cadastro|Dia_Ultima_compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carnes|Gasto_Pescados|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Online|Compras_Catalogo|Compras_Loja|Visitas_Site|Campanha3_Aceita|Campanha4_Aceita|Campanha5_Aceita|Campanha1_Aceita|Campanha2_Aceita|Reclamacao|Resposta_Campanha|
+----+--------------+------------------+-------------+--------------+----------------+--------------------+-------------+-----------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+
|5524|          1957|   Ensino Superior|  Solteiro(a)|       58138.0|               0|                   0|   2012-09-04|               58|        635|          88|         546|           172|         88|        88|               3|             8|              10|           4|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Sim|
|2174|          1954|   Ensino Superior|  Solteiro(a)|       46344.0|               1|                   1|   2014-03-08|               38|         11|           1|           6|             2|          1|         6|               2|             1|               1|           2|           5|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|4141|          1965|   Ensino Superior|União Estável|       71613.0|               0|                   0|   2013-08-21|               26|        426|          49|         127|           111|         21|        42|               1|             8|               2|          10|           4|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|6182|          1984|   Ensino Superior|União Estável|       26646.0|               1|                   0|   2014-02-10|               26|         11|           4|          20|            10|          3|         5|               2|             2|               0|           4|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|5324|          1981|         Doutorado|    Casado(a)|       58293.0|               1|                   0|   2014-01-19|               94|        173|          43|         118|            46|         27|        15|               5|             5|               3|           6|           5|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|7446|          1967|          Mestrado|União Estável|       62513.0|               0|                   1|   2013-09-09|               16|        520|          42|          98|             0|         42|        14|               2|             6|               4|          10|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
| 965|          1971|   Ensino Superior|Divorciado(a)|       55635.0|               0|                   1|   2012-11-13|               34|        235|          65|         164|            50|         49|        27|               4|             7|               3|           7|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|6177|          1985|         Doutorado|    Casado(a)|       33454.0|               1|                   0|   2013-05-08|               32|         76|          10|          56|             3|          1|        23|               2|             4|               0|           4|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|4855|          1974|         Doutorado|União Estável|       30351.0|               1|                   0|   2013-06-06|               19|         14|           0|          24|             3|          3|         2|               1|             3|               0|           2|           9|             Não|             Não|             Não|             Não|             Não|       Não|              Sim|
|5899|          1950|         Doutorado|União Estável|        5648.0|               1|                   1|   2014-03-13|               68|         28|           0|           6|             1|          1|        13|               1|             1|               0|           0|          20|             Sim|             Não|             Não|             Não|             Não|       Não|              Não|
|1994|          1983|   Ensino Superior|    Casado(a)|           0.0|               1|                   0|   2013-11-15|               11|          5|           5|           6|             0|          2|         1|               1|             1|               0|           2|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
| 387|          1976|      Ensino Medio|    Casado(a)|        7500.0|               0|                   0|   2012-11-13|               59|          6|          16|          11|            11|          1|        16|               1|             2|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|2125|          1959|   Ensino Superior|Divorciado(a)|       63033.0|               0|                   0|   2013-11-15|               82|        194|          61|         480|           225|        112|        30|               1|             3|               4|           8|           2|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|8180|          1952|          Mestrado|Divorciado(a)|       59354.0|               1|                   1|   2013-11-15|               53|        233|           2|          53|             3|          5|        14|               3|             6|               1|           5|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|2569|          1987|   Ensino Superior|    Casado(a)|       17323.0|               0|                   0|   2012-10-10|               38|          3|          14|          17|             6|          1|         5|               1|             1|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|2114|          1946|         Doutorado|  Solteiro(a)|       82800.0|               0|                   0|   2012-11-24|               23|       1006|          22|         115|            59|         68|        45|               1|             7|               6|          12|           3|             Não|             Não|             Sim|             Sim|             Não|       Não|              Sim|
|9736|          1980|   Ensino Superior|    Casado(a)|       41850.0|               1|                   1|   2012-12-24|               51|         53|           5|          19|             2|         13|         4|               3|             3|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|4939|          1946|   Ensino Superior|União Estável|       37760.0|               0|                   0|   2012-08-31|               20|         84|           5|          38|           150|         12|        28|               2|             4|               1|           6|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|6565|          1949|          Mestrado|    Casado(a)|       76995.0|               0|                   1|   2013-03-28|               91|       1012|          80|         498|             0|         16|       176|               2|            11|               4|           9|           5|             Não|             Não|             Não|             Sim|             Não|       Não|              Não|
|2278|          1985|     Pós Graduação|  Solteiro(a)|       33812.0|               1|                   0|   2012-11-03|               86|          4|          17|          19|            30|         24|        39|               2|             2|               1|           3|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
+----+--------------+------------------+-------------+--------------+----------------+--------------------+-------------+-----------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+
only showing top 20 rows

In [ ]:
dfSpark.count()

2240

In [ ]:
# Verificando se tem dados duplicados
total = (dfSpark.count()) - (dfSpark.dropDuplicates().count())
print(total)

0

## Renomeando colunas

In [ ]:
dfSpark = dfSpark.withColumnRenamed("ID","ID_Cliente").withColumnRenamed("Dia_Ultima_Compra","Dias_Ultima_Compra").withColumnRenamed("Renda_Familiar","Renda_Familiar_Anual")

In [ ]:
dfSpark.show()

+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+
|ID_Cliente|Ano_Nascimento|Nivel_Escolaridade| Estado_Civil|Renda_Familiar_Anual|Crianças_em_Casa|Adolescentes_em_Casa|Data_Cadastro|Dias_Ultima_Compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carnes|Gasto_Pescados|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Online|Compras_Catalogo|Compras_Loja|Visitas_Site|Campanha3_Aceita|Campanha4_Aceita|Campanha5_Aceita|Campanha1_Aceita|Campanha2_Aceita|Reclamacao|Resposta_Campanha|
+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+
|      5524|          1957|   Ensino Superior|  Solteiro(a)|             58138.0|               0|                   0|   2012-09-04|                58|        635|          88|         546|           172|         88|        88|               3|             8|              10|           4|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Sim|
|      2174|          1954|   Ensino Superior|  Solteiro(a)|             46344.0|               1|                   1|   2014-03-08|                38|         11|           1|           6|             2|          1|         6|               2|             1|               1|           2|           5|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      4141|          1965|   Ensino Superior|União Estável|             71613.0|               0|                   0|   2013-08-21|                26|        426|          49|         127|           111|         21|        42|               1|             8|               2|          10|           4|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      6182|          1984|   Ensino Superior|União Estável|             26646.0|               1|                   0|   2014-02-10|                26|         11|           4|          20|            10|          3|         5|               2|             2|               0|           4|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      5324|          1981|         Doutorado|    Casado(a)|             58293.0|               1|                   0|   2014-01-19|                94|        173|          43|         118|            46|         27|        15|               5|             5|               3|           6|           5|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      7446|          1967|          Mestrado|União Estável|             62513.0|               0|                   1|   2013-09-09|                16|        520|          42|          98|             0|         42|        14|               2|             6|               4|          10|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|       965|          1971|   Ensino Superior|Divorciado(a)|             55635.0|               0|                   1|   2012-11-13|                34|        235|          65|         164|            50|         49|        27|               4|             7|               3|           7|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      6177|          1985|         Doutorado|    Casado(a)|             33454.0|               1|                   0|   2013-05-08|                32|         76|          10|          56|             3|          1|        23|               2|             4|               0|           4|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      4855|          1974|         Doutorado|União Estável|             30351.0|               1|                   0|   2013-06-06|                19|         14|           0|          24|             3|          3|         2|               1|             3|               0|           2|           9|             Não|             Não|             Não|             Não|             Não|       Não|              Sim|
|      5899|          1950|         Doutorado|União Estável|              5648.0|               1|                   1|   2014-03-13|                68|         28|           0|           6|             1|          1|        13|               1|             1|               0|           0|          20|             Sim|             Não|             Não|             Não|             Não|       Não|              Não|
|      1994|          1983|   Ensino Superior|    Casado(a)|                 0.0|               1|                   0|   2013-11-15|                11|          5|           5|           6|             0|          2|         1|               1|             1|               0|           2|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|       387|          1976|      Ensino Medio|    Casado(a)|              7500.0|               0|                   0|   2012-11-13|                59|          6|          16|          11|            11|          1|        16|               1|             2|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      2125|          1959|   Ensino Superior|Divorciado(a)|             63033.0|               0|                   0|   2013-11-15|                82|        194|          61|         480|           225|        112|        30|               1|             3|               4|           8|           2|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      8180|          1952|          Mestrado|Divorciado(a)|             59354.0|               1|                   1|   2013-11-15|                53|        233|           2|          53|             3|          5|        14|               3|             6|               1|           5|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      2569|          1987|   Ensino Superior|    Casado(a)|             17323.0|               0|                   0|   2012-10-10|                38|          3|          14|          17|             6|          1|         5|               1|             1|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      2114|          1946|         Doutorado|  Solteiro(a)|             82800.0|               0|                   0|   2012-11-24|                23|       1006|          22|         115|            59|         68|        45|               1|             7|               6|          12|           3|             Não|             Não|             Sim|             Sim|             Não|       Não|              Sim|
|      9736|          1980|   Ensino Superior|    Casado(a)|             41850.0|               1|                   1|   2012-12-24|                51|         53|           5|          19|             2|         13|         4|               3|             3|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      4939|          1946|   Ensino Superior|União Estável|             37760.0|               0|                   0|   2012-08-31|                20|         84|           5|          38|           150|         12|        28|               2|             4|               1|           6|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      6565|          1949|          Mestrado|    Casado(a)|             76995.0|               0|                   1|   2013-03-28|                91|       1012|          80|         498|             0|         16|       176|               2|            11|               4|           9|           5|             Não|             Não|             Não|             Sim|             Não|       Não|              Não|
|      2278|          1985|     Pós Graduação|  Solteiro(a)|             33812.0|               1|                   0|   2012-11-03|                86|          4|          17|          19|            30|         24|        39|               2|             2|               1|           3|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+
only showing top 20 rows

## Drop Colunas que os dados são irrelevantes para minha análise

In [ ]:
dfSpark = dfSpark.drop('Dias_Ultima_Compra').show()

+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+
|ID_Cliente|Ano_Nascimento|Nivel_Escolaridade| Estado_Civil|Renda_Familiar_Anual|Crianças_em_Casa|Adolescentes_em_Casa|Data_Cadastro|Gasto_Vinho|Gasto_Frutas|Gasto_Carnes|Gasto_Pescados|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Online|Compras_Catalogo|Compras_Loja|Visitas_Site|Campanha3_Aceita|Campanha4_Aceita|Campanha5_Aceita|Campanha1_Aceita|Campanha2_Aceita|Reclamacao|Resposta_Campanha|
+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+
|      5524|          1957|   Ensino Superior|  Solteiro(a)|             58138.0|               0|                   0|   2012-09-04|        635|          88|         546|           172|         88|        88|               3|             8|              10|           4|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Sim|
|      2174|          1954|   Ensino Superior|  Solteiro(a)|             46344.0|               1|                   1|   2014-03-08|         11|           1|           6|             2|          1|         6|               2|             1|               1|           2|           5|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      4141|          1965|   Ensino Superior|União Estável|             71613.0|               0|                   0|   2013-08-21|        426|          49|         127|           111|         21|        42|               1|             8|               2|          10|           4|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      6182|          1984|   Ensino Superior|União Estável|             26646.0|               1|                   0|   2014-02-10|         11|           4|          20|            10|          3|         5|               2|             2|               0|           4|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      5324|          1981|         Doutorado|    Casado(a)|             58293.0|               1|                   0|   2014-01-19|        173|          43|         118|            46|         27|        15|               5|             5|               3|           6|           5|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      7446|          1967|          Mestrado|União Estável|             62513.0|               0|                   1|   2013-09-09|        520|          42|          98|             0|         42|        14|               2|             6|               4|          10|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|       965|          1971|   Ensino Superior|Divorciado(a)|             55635.0|               0|                   1|   2012-11-13|        235|          65|         164|            50|         49|        27|               4|             7|               3|           7|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      6177|          1985|         Doutorado|    Casado(a)|             33454.0|               1|                   0|   2013-05-08|         76|          10|          56|             3|          1|        23|               2|             4|               0|           4|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      4855|          1974|         Doutorado|União Estável|             30351.0|               1|                   0|   2013-06-06|         14|           0|          24|             3|          3|         2|               1|             3|               0|           2|           9|             Não|             Não|             Não|             Não|             Não|       Não|              Sim|
|      5899|          1950|         Doutorado|União Estável|              5648.0|               1|                   1|   2014-03-13|         28|           0|           6|             1|          1|        13|               1|             1|               0|           0|          20|             Sim|             Não|             Não|             Não|             Não|       Não|              Não|
|      1994|          1983|   Ensino Superior|    Casado(a)|                 0.0|               1|                   0|   2013-11-15|          5|           5|           6|             0|          2|         1|               1|             1|               0|           2|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|       387|          1976|      Ensino Medio|    Casado(a)|              7500.0|               0|                   0|   2012-11-13|          6|          16|          11|            11|          1|        16|               1|             2|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      2125|          1959|   Ensino Superior|Divorciado(a)|             63033.0|               0|                   0|   2013-11-15|        194|          61|         480|           225|        112|        30|               1|             3|               4|           8|           2|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      8180|          1952|          Mestrado|Divorciado(a)|             59354.0|               1|                   1|   2013-11-15|        233|           2|          53|             3|          5|        14|               3|             6|               1|           5|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      2569|          1987|   Ensino Superior|    Casado(a)|             17323.0|               0|                   0|   2012-10-10|          3|          14|          17|             6|          1|         5|               1|             1|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      2114|          1946|         Doutorado|  Solteiro(a)|             82800.0|               0|                   0|   2012-11-24|       1006|          22|         115|            59|         68|        45|               1|             7|               6|          12|           3|             Não|             Não|             Sim|             Sim|             Não|       Não|              Sim|
|      9736|          1980|   Ensino Superior|    Casado(a)|             41850.0|               1|                   1|   2012-12-24|         53|           5|          19|             2|         13|         4|               3|             3|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      4939|          1946|   Ensino Superior|União Estável|             37760.0|               0|                   0|   2012-08-31|         84|           5|          38|           150|         12|        28|               2|             4|               1|           6|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
|      6565|          1949|          Mestrado|    Casado(a)|             76995.0|               0|                   1|   2013-03-28|       1012|          80|         498|             0|         16|       176|               2|            11|               4|           9|           5|             Não|             Não|             Não|             Sim|             Não|       Não|              Não|
|      2278|          1985|     Pós Graduação|  Solteiro(a)|             33812.0|               1|                   0|   2012-11-03|          4|          17|          19|            30|         24|        39|               2|             2|               1|           3|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|
+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+
only showing top 20 rows

## Criando colunas

In [ ]:
# Criando uma nova coluna com o total de compras realizadas
df_3 = dfSpark.withColumn('Total_Compras', F.col('Compras_Desconto') + F.col('Compras_Online') + F.col('Compras_Catalogo') + F.col('Compras_Loja'))

In [ ]:
df_3 = dfSpark.withColumn('Total_Gastos', F.col('Gasto_Vinho') + F.col('Gasto_Frutas') + F.col('Gasto_Carnes') + F.col('Gasto_Pescados') +  F.col('Gasto_Doces') +  F.col('Gasto_Ouro'))

In [ ]:
df_3.show()

+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+-------------+
|ID_Cliente|Ano_Nascimento|Nivel_Escolaridade| Estado_Civil|Renda_Familiar_Anual|Crianças_em_Casa|Adolescentes_em_Casa|Data_Cadastro|Dias_Ultima_Compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carnes|Gasto_Pescados|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Online|Compras_Catalogo|Compras_Loja|Visitas_Site|Campanha3_Aceita|Campanha4_Aceita|Campanha5_Aceita|Campanha1_Aceita|Campanha2_Aceita|Reclamacao|Resposta_Campanha|Total_Compras|
+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+-------------+
|      5524|          1957|   Ensino Superior|  Solteiro(a)|             58138.0|               0|                   0|   2012-09-04|                58|        635|          88|         546|           172|         88|        88|               3|             8|              10|           4|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Sim|           25|
|      2174|          1954|   Ensino Superior|  Solteiro(a)|             46344.0|               1|                   1|   2014-03-08|                38|         11|           1|           6|             2|          1|         6|               2|             1|               1|           2|           5|             Não|             Não|             Não|             Não|             Não|       Não|              Não|            6|
|      4141|          1965|   Ensino Superior|União Estável|             71613.0|               0|                   0|   2013-08-21|                26|        426|          49|         127|           111|         21|        42|               1|             8|               2|          10|           4|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           21|
|      6182|          1984|   Ensino Superior|União Estável|             26646.0|               1|                   0|   2014-02-10|                26|         11|           4|          20|            10|          3|         5|               2|             2|               0|           4|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|            8|
|      5324|          1981|         Doutorado|    Casado(a)|             58293.0|               1|                   0|   2014-01-19|                94|        173|          43|         118|            46|         27|        15|               5|             5|               3|           6|           5|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           19|
|      7446|          1967|          Mestrado|União Estável|             62513.0|               0|                   1|   2013-09-09|                16|        520|          42|          98|             0|         42|        14|               2|             6|               4|          10|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           22|
|       965|          1971|   Ensino Superior|Divorciado(a)|             55635.0|               0|                   1|   2012-11-13|                34|        235|          65|         164|            50|         49|        27|               4|             7|               3|           7|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           21|
|      6177|          1985|         Doutorado|    Casado(a)|             33454.0|               1|                   0|   2013-05-08|                32|         76|          10|          56|             3|          1|        23|               2|             4|               0|           4|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           10|
|      4855|          1974|         Doutorado|União Estável|             30351.0|               1|                   0|   2013-06-06|                19|         14|           0|          24|             3|          3|         2|               1|             3|               0|           2|           9|             Não|             Não|             Não|             Não|             Não|       Não|              Sim|            6|
|      5899|          1950|         Doutorado|União Estável|              5648.0|               1|                   1|   2014-03-13|                68|         28|           0|           6|             1|          1|        13|               1|             1|               0|           0|          20|             Sim|             Não|             Não|             Não|             Não|       Não|              Não|            2|
|      1994|          1983|   Ensino Superior|    Casado(a)|                 0.0|               1|                   0|   2013-11-15|                11|          5|           5|           6|             0|          2|         1|               1|             1|               0|           2|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|            4|
|       387|          1976|      Ensino Medio|    Casado(a)|              7500.0|               0|                   0|   2012-11-13|                59|          6|          16|          11|            11|          1|        16|               1|             2|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|            6|
|      2125|          1959|   Ensino Superior|Divorciado(a)|             63033.0|               0|                   0|   2013-11-15|                82|        194|          61|         480|           225|        112|        30|               1|             3|               4|           8|           2|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           16|
|      8180|          1952|          Mestrado|Divorciado(a)|             59354.0|               1|                   1|   2013-11-15|                53|        233|           2|          53|             3|          5|        14|               3|             6|               1|           5|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           15|
|      2569|          1987|   Ensino Superior|    Casado(a)|             17323.0|               0|                   0|   2012-10-10|                38|          3|          14|          17|             6|          1|         5|               1|             1|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|            5|
|      2114|          1946|         Doutorado|  Solteiro(a)|             82800.0|               0|                   0|   2012-11-24|                23|       1006|          22|         115|            59|         68|        45|               1|             7|               6|          12|           3|             Não|             Não|             Sim|             Sim|             Não|       Não|              Sim|           26|
|      9736|          1980|   Ensino Superior|    Casado(a)|             41850.0|               1|                   1|   2012-12-24|                51|         53|           5|          19|             2|         13|         4|               3|             3|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|            9|
|      4939|          1946|   Ensino Superior|União Estável|             37760.0|               0|                   0|   2012-08-31|                20|         84|           5|          38|           150|         12|        28|               2|             4|               1|           6|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           13|
|      6565|          1949|          Mestrado|    Casado(a)|             76995.0|               0|                   1|   2013-03-28|                91|       1012|          80|         498|             0|         16|       176|               2|            11|               4|           9|           5|             Não|             Não|             Não|             Sim|             Não|       Não|              Não|           26|
|      2278|          1985|     Pós Graduação|  Solteiro(a)|             33812.0|               1|                   0|   2012-11-03|                86|          4|          17|          19|            30|         24|        39|               2|             2|               1|           3|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|            8|
+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+-------------+
only showing top 20 rows

## Filtros, ordenação e agrupamento, trazendo dados relevantes para o negócio em questão.

In [ ]:
# Gastos de acordo com a escolaridade
df_3.groupBy('Nivel_Escolaridade').sum(*('Gasto_Vinho','Gasto_Frutas','Gasto_Carnes','Gasto_Pescados','Gasto_Doces','Gasto_Ouro')).show()

+------------------+----------------+-----------------+-----------------+-------------------+----------------+---------------+
|Nivel_Escolaridade|sum(Gasto_Vinho)|sum(Gasto_Frutas)|sum(Gasto_Carnes)|sum(Gasto_Pescados)|sum(Gasto_Doces)|sum(Gasto_Ouro)|
+------------------+----------------+-----------------+-----------------+-------------------+----------------+---------------+
|         Doutorado|          196585|             9744|            81941|              12990|            9828|          15703|
|   Ensino Superior|          320371|            34683|           202284|              48630|           35351|          57307|
|      Ensino Medio|             391|              600|              618|                921|             654|           1233|
|     Pós Graduação|           40231|             5878|            28675|               9639|            6953|           9419|
|          Mestrado|          123238|             8012|            60450|              11877|            7835|          14947|
+------------------+----------------+-----------------+-----------------+-------------------+----------------+---------------+

In [ ]:
# Compras feitas por escolaridade
df_3.groupBy('Nivel_Escolaridade').sum(*('Compras_Desconto', 'Compras_Online','Compras_Catalogo', 'Compras_Loja')).show()

+------------------+---------------------+-------------------+---------------------+-----------------+
|Nivel_Escolaridade|sum(Compras_Desconto)|sum(Compras_Online)|sum(Compras_Catalogo)|sum(Compras_Loja)|
+------------------+---------------------+-------------------+---------------------+-----------------+
|         Doutorado|                 1154|               2150|                 1443|             2946|
|   Ensino Superior|                 2603|               4649|                 3072|             6570|
|      Ensino Medio|                   97|                102|                   26|              154|
|     Pós Graduação|                  456|                757|                  471|             1118|
|          Mestrado|                  898|               1492|                  951|             2182|
+------------------+---------------------+-------------------+---------------------+-----------------+

In [ ]:
# Quantidadae de visitas no site de acordo com a escolaridade
df_3.groupBy('Nivel_Escolaridade').sum('Visitas_Site').show()

+------------------+-----------------+
|Nivel_Escolaridade|sum(Visitas_Site)|
+------------------+-----------------+
|         Doutorado|             2556|
|   Ensino Superior|             5959|
|      Ensino Medio|              371|
|     Pós Graduação|             1107|
|          Mestrado|             1916|
+------------------+-----------------+

In [ ]:
# Ordernar Renda Familiar (menor para maior)
df_3.orderBy(F.col('Renda_Familiar_Anual').asc()).show(30)

+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+------------+
|ID_Cliente|Ano_Nascimento|Nivel_Escolaridade| Estado_Civil|Renda_Familiar_Anual|Crianças_em_Casa|Adolescentes_em_Casa|Data_Cadastro|Dias_Ultima_Compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carnes|Gasto_Pescados|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Online|Compras_Catalogo|Compras_Loja|Visitas_Site|Campanha3_Aceita|Campanha4_Aceita|Campanha5_Aceita|Campanha1_Aceita|Campanha2_Aceita|Reclamacao|Resposta_Campanha|Total_Gastos|
+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+------------+
|      1295|          1963|   Ensino Superior|    Casado(a)|                 0.0|               0|                   1|   2013-08-11|                96|        231|          65|         196|            38|         71|       124|               1|             6|               5|           7|           4|             Não|             Não|             Não|             Não|             Não|       Não|              Não|         725|
|      7281|          1959|         Doutorado|  Solteiro(a)|                 0.0|               0|                   0|   2013-11-05|                80|         81|          11|          50|             3|          2|        39|               1|             1|               3|           4|           2|             Não|             Não|             Não|             Não|             Não|       Não|              Não|         186|
|      7244|          1951|   Ensino Superior|  Solteiro(a)|                 0.0|               2|                   1|   2014-01-01|                96|         48|           5|          48|             6|         10|         7|               3|             2|               1|           4|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|         124|
|      8996|          1957|         Doutorado|    Casado(a)|                 0.0|               2|                   1|   2012-11-19|                 4|        230|          42|         192|            49|         37|        53|              12|             7|               2|           8|           9|             Não|             Não|             Não|             Não|             Não|       Não|              Não|         603|
|      9235|          1957|   Ensino Superior|  Solteiro(a)|                 0.0|               1|                   1|   2014-05-27|                45|          7|           0|           8|             2|          0|         1|               1|             1|               0|           2|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          18|
|      5798|          1973|          Mestrado|União Estável|                 0.0|               0|                   0|   2013-11-23|                87|        445|          37|         359|            98|         28|        18|               1|             2|               4|           8|           1|             Não|             Não|             Não|             Não|             Não|       Não|              Não|         985|
|      1994|          1983|   Ensino Superior|    Casado(a)|                 0.0|               1|                   0|   2013-11-15|                11|          5|           5|           6|             0|          2|         1|               1|             1|               0|           2|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          19|
|      8557|          1982|   Ensino Superior|  Solteiro(a)|                 0.0|               1|                   0|   2013-06-17|                57|         11|           3|          22|             2|          2|         6|               2|             2|               0|           3|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          46|
|      8268|          1961|         Doutorado|    Casado(a)|                 0.0|               0|                   1|   2013-07-11|                23|        352|           0|          27|            10|          0|        15|               3|             6|               1|           7|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|         404|
|      4345|          1964|     Pós Graduação|  Solteiro(a)|                 0.0|               1|                   1|   2014-01-12|                49|          5|           1|           9|             2|          0|         4|               1|             1|               0|           2|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          21|
|      3769|          1972|         Doutorado|União Estável|                 0.0|               1|                   0|   2014-03-02|                17|         25|           1|          13|             0|          0|         3|               1|             1|               0|           3|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          42|
|      7187|          1969|          Mestrado|União Estável|                 0.0|               1|                   1|   2013-05-18|                52|        375|          42|          48|            94|         66|        96|               7|             4|              10|           4|           3|             Não|             Não|             Não|             Não|             Não|       Não|              Não|         721|
|      1612|          1981|         Doutorado|  Solteiro(a)|                 0.0|               1|                   0|   2013-05-31|                82|         23|           0|          15|             0|          2|         7|               2|             3|               0|           3|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          47|
|      5079|          1971|   Ensino Superior|    Casado(a)|                 0.0|               1|                   1|   2013-03-03|                82|         71|           1|          16|             0|          0|         9|               4|             2|               1|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          97|
|     10339|          1954|          Mestrado|União Estável|                 0.0|               0|                   1|   2013-06-23|                83|        161|           0|          22|             0|          0|        24|               2|             4|               1|           4|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|         207|
|      3117|          1955|   Ensino Superior|  Solteiro(a)|                 0.0|               0|                   1|   2013-10-18|                95|        264|           0|          21|            12|          6|       147|               3|             6|               1|           5|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|         450|
|      5250|          1943|          Mestrado|     Viúvo(a)|                 0.0|               0|                   0|   2013-10-30|                75|        532|         126|         490|           164|        126|       126|               1|             5|               5|          11|           1|             Não|             Não|             Sim|             Não|             Não|       Não|              Sim|        1564|
|      8720|          1978|     Pós Graduação|União Estável|                 0.0|               0|                   0|   2012-08-12|                53|         32|           2|        1607|            12|          4|        22|               0|             0|               0|           1|           0|             Não|             Sim|             Não|             Não|             Não|       Não|              Não|        1679|
|      2437|          1989|   Ensino Superior|    Casado(a)|                 0.0|               0|                   0|   2013-06-03|                69|        861|         138|         461|            60|         30|        61|               1|             6|               5|          12|           3|             Não|             Sim|             Não|             Sim|             Não|       Não|              Não|        1611|
|      2863|          1970|   Ensino Superior|  Solteiro(a)|                 0.0|               1|                   2|   2013-08-23|                67|        738|          20|         172|            52|         50|        20|               6|             2|               3|          10|           7|             Não|             Sim|             Não|             Sim|             Não|       Não|              Não|        1052|
|      5255|          1986|   Ensino Superior|  Solteiro(a)|                 0.0|               1|                   0|   2013-02-20|                19|          5|           1|           3|             3|        263|       362|               0|            27|               0|           0|           1|             Não|             Não|             Não|             Não|             Não|       Não|              Não|         637|
|     10475|          1970|          Mestrado|União Estável|                 0.0|               0|                   1|   2013-04-01|                39|        187|           5|          65|            26|         20|        14|               2|             4|               2|           6|           5|             Não|             Não|             Não|             Não|             Não|       Não|              Não|         317|
|     10629|          1973|     Pós Graduação|    Casado(a)|                 0.0|               1|                   0|   2012-09-14|                25|         25|           3|          43|            17|          4|        17|               3|             3|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|         109|
|      2902|          1958|   Ensino Superior|União Estável|                 0.0|               1|                   1|   2012-09-03|                87|         19|           4|          12|             2|          2|         6|               1|             1|               0|           3|           5|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          45|
|      6862|          1971|   Ensino Superior|Divorciado(a)|              1730.0|               0|                   0|   2014-05-18|                65|          1|           1|           3|             1|          1|         1|              15|             0|               0|           0|          20|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           8|
|      5376|          1979|   Ensino Superior|    Casado(a)|              2447.0|               1|                   0|   2013-01-06|                42|          1|           1|        1725|             1|          1|         1|              15|             0|              28|           0|           1|             Não|             Não|             Não|             Não|             Não|       Não|              Não|        1730|
|     11110|          1973|   Ensino Superior|  Solteiro(a)|              3502.0|               1|                   0|   2013-04-13|                56|          2|           1|           1|             0|          0|         1|               0|             0|               0|           0|          14|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           5|
|      9931|          1963|         Doutorado|    Casado(a)|              4023.0|               1|                   1|   2014-06-23|                29|          5|           0|           1|             1|          1|         1|              15|             0|               0|           0|          19|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           9|
|     10311|          1969|   Ensino Superior|    Casado(a)|              4428.0|               0|                   1|   2013-10-05|                 0|         16|           4|          12|             2|          4|       321|               0|            25|               0|           0|           1|             Não|             Não|             Não|             Não|             Não|       Não|              Não|         359|
|      3955|          1965|   Ensino Superior|Divorciado(a)|              4861.0|               0|                   0|   2014-06-22|                20|          2|           1|           1|             1|          0|         1|               0|             0|               0|           0|          14|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           6|
+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+------------+
only showing top 30 rows

In [ ]:
# Ordenar Renda Familiar (maior para menor)
df_3.orderBy(F.col('Renda_Familiar_Anual').desc()).show(30)

+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+------------+
|ID_Cliente|Ano_Nascimento|Nivel_Escolaridade| Estado_Civil|Renda_Familiar_Anual|Crianças_em_Casa|Adolescentes_em_Casa|Data_Cadastro|Dias_Ultima_Compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carnes|Gasto_Pescados|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Online|Compras_Catalogo|Compras_Loja|Visitas_Site|Campanha3_Aceita|Campanha4_Aceita|Campanha5_Aceita|Campanha1_Aceita|Campanha2_Aceita|Reclamacao|Resposta_Campanha|Total_Gastos|
+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+------------+
|      9432|          1977|   Ensino Superior|União Estável|            666666.0|               1|                   0|   2013-06-02|                23|          9|          14|          18|             8|          1|        12|               4|             3|               1|           3|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          62|
|      1503|          1976|         Doutorado|União Estável|            162397.0|               1|                   1|   2013-06-03|                31|         85|           1|          16|             2|          1|         2|               0|             0|               0|           1|           1|             Não|             Não|             Não|             Não|             Não|       Não|              Não|         107|
|      1501|          1982|         Doutorado|    Casado(a)|            160803.0|               0|                   0|   2012-08-04|                21|         55|          16|        1622|            17|          3|         4|              15|             0|              28|           1|           0|             Não|             Não|             Não|             Não|             Não|       Não|              Não|        1717|
|      5336|          1971|          Mestrado|União Estável|            157733.0|               1|                   0|   2013-06-04|                37|         39|           1|           9|             2|          0|         8|               0|             1|               0|           1|           1|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          59|
|      8475|          1973|         Doutorado|    Casado(a)|            157243.0|               0|                   1|   2014-03-01|                98|         20|           2|        1582|             1|          2|         1|              15|             0|              22|           0|           0|             Não|             Não|             Não|             Não|             Não|       Não|              Não|        1608|
|      4931|          1977|   Ensino Superior|União Estável|            157146.0|               0|                   0|   2013-04-29|                13|          1|           0|        1725|             2|          1|         1|               0|             0|              28|           0|           1|             Não|             Não|             Não|             Não|             Não|       Não|              Não|        1730|
|     11181|          1949|         Doutorado|    Casado(a)|            156924.0|               0|                   0|   2013-08-29|                85|          2|           1|           2|             1|          1|         1|               0|             0|               0|           0|           0|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           8|
|      5555|          1975|   Ensino Superior|Divorciado(a)|            153924.0|               0|                   0|   2014-02-07|                81|          1|           1|           1|             1|          1|         1|               0|             0|               0|           0|           0|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           6|
|      4619|          1945|         Doutorado|  Solteiro(a)|            113734.0|               0|                   0|   2014-05-28|                 9|          6|           2|           3|             1|        262|         3|               0|            27|               0|           0|           1|             Não|             Não|             Não|             Não|             Não|       Não|              Não|         277|
|      4611|          1970|   Ensino Superior|União Estável|            105471.0|               0|                   0|   2013-01-21|                36|       1009|         181|         104|           202|         21|       207|               0|             9|               8|          13|           3|             Não|             Não|             Sim|             Sim|             Não|       Não|              Sim|        1724|
|     10089|          1974|   Ensino Superior|Divorciado(a)|            102692.0|               0|                   0|   2013-04-05|                 5|        168|         148|         444|            32|        172|       148|               1|             6|               9|          13|           2|             Não|             Sim|             Sim|             Sim|             Sim|       Não|              Sim|        1112|
|      2798|          1977|         Doutorado|União Estável|            102160.0|               0|                   0|   2012-11-02|                54|        763|          29|         138|            76|        176|        58|               0|             7|               9|          10|           4|             Não|             Sim|             Sim|             Sim|             Não|       Não|              Sim|        1240|
|      7215|          1983|   Ensino Superior|  Solteiro(a)|            101970.0|               0|                   0|   2013-03-12|                69|        722|          27|         102|            44|         72|       168|               0|             6|               8|          13|           2|             Não|             Sim|             Sim|             Sim|             Não|       Não|              Sim|        1135|
|      7451|          1960|          Mestrado|  Solteiro(a)|             98777.0|               0|                   0|   2014-02-17|                23|       1000|          19|         711|           125|        115|        38|               0|             4|               6|           9|           1|             Não|             Sim|             Não|             Não|             Não|       Não|              Não|        2008|
|      4248|          1960|          Mestrado|  Solteiro(a)|             98777.0|               0|                   0|   2014-02-17|                23|       1000|          19|         711|           125|        115|        38|               0|             4|               6|           9|           1|             Não|             Sim|             Não|             Não|             Não|       Não|              Não|        2008|
|       500|          1977|   Ensino Superior|União Estável|             96876.0|               0|                   0|   2013-08-06|                79|        908|          43|         735|            40|        194|        21|               1|             7|               7|           9|           2|             Não|             Sim|             Sim|             Sim|             Não|       Não|              Sim|        1941|
|      2109|          1990|   Ensino Superior|  Solteiro(a)|             96843.0|               0|                   0|   2013-04-23|                60|        448|          71|         951|            40|         17|        17|               1|             6|              11|          10|           2|             Não|             Não|             Sim|             Não|             Não|       Não|              Sim|        1544|
|      6815|          1980|     Pós Graduação|    Casado(a)|             96547.0|               0|                   0|   2014-05-23|                 4|        448|          21|         125|            52|        101|        62|               0|             7|               6|           8|           2|             Sim|             Não|             Sim|             Sim|             Não|       Não|              Sim|         809|
|     10619|          1994|   Ensino Superior|  Solteiro(a)|             95529.0|               0|                   0|   2012-12-03|                29|        770|          29|         890|           250|         27|        24|               1|             7|               3|           7|           3|             Não|             Não|             Sim|             Não|             Não|       Não|              Sim|        1990|
|      7962|          1987|         Doutorado|  Solteiro(a)|             95169.0|               0|                   0|   2013-10-09|                 1|       1285|          21|         449|           106|         20|        20|               1|             4|               3|           4|           1|             Não|             Não|             Sim|             Sim|             Não|       Não|              Sim|        1901|
|      4070|          1969|         Doutorado|    Casado(a)|             94871.0|               0|                   2|   2012-09-01|                99|        169|          24|         553|           188|          0|       144|               1|             8|               5|           4|           7|             Não|             Sim|             Sim|             Não|             Não|       Não|              Sim|        1078|
|      3334|          1951|   Ensino Superior|    Casado(a)|             94642.0|               0|                   0|   2014-02-12|                35|        879|         143|         797|           106|        143|       143|               0|             5|               7|           9|           1|             Não|             Não|             Sim|             Sim|             Não|       Não|              Não|        2211|
|     10164|          1958|   Ensino Superior|  Solteiro(a)|             94472.0|               0|                   1|   2014-04-03|                75|       1017|          33|         417|           108|        100|        16|               1|             5|               5|           5|           5|             Não|             Sim|             Sim|             Não|             Não|       Não|              Não|        1691|
|      6024|          1953|   Ensino Superior|União Estável|             94384.0|               0|                   0|   2013-03-04|                62|       1111|          24|         790|           160|         45|       172|               0|             5|               8|           5|           2|             Não|             Sim|             Sim|             Sim|             Não|       Não|              Sim|        2302|
|      5386|          1953|   Ensino Superior|União Estável|             94384.0|               0|                   0|   2013-03-04|                62|       1111|          24|         790|           160|         45|       172|               0|             5|               8|           5|           2|             Não|             Sim|             Sim|             Sim|             Não|       Não|              Sim|        2302|
|     10133|          1970|   Ensino Superior|  Solteiro(a)|             93790.0|               0|                   0|   2014-02-12|                16|       1302|          68|         731|            89|        114|        45|               0|             6|               7|          12|           2|             Não|             Sim|             Sim|             Sim|             Não|       Não|              Sim|        2349|
|      9499|          1954|   Ensino Superior|    Casado(a)|             93404.0|               1|                   2|   2013-05-07|                97|       1279|          15|         287|            20|          0|        15|               3|             3|               4|           7|           5|             Não|             Sim|             Sim|             Não|             Não|       Não|              Não|        1616|
|      6932|          1941|         Doutorado|    Casado(a)|             93027.0|               0|                   0|   2013-04-13|                77|       1285|          42|         716|            55|          0|        21|               0|             7|              10|           5|           2|             Não|             Não|             Sim|             Não|             Não|       Não|              Não|        2119|
|     10489|          1973|   Ensino Superior|    Casado(a)|             92955.0|               0|                   0|   2013-08-19|                35|        693|          21|         925|            31|         24|        84|               1|             6|               7|           9|           2|             Não|             Não|             Sim|             Sim|             Não|       Não|              Sim|        1778|
|      1340|          1986|   Ensino Superior|    Casado(a)|             92910.0|               0|                   0|   2014-04-24|                42|        551|         137|         792|           179|        103|        33|               1|             6|               7|          13|           1|             Não|             Sim|             Sim|             Sim|             Não|       Não|              Não|        1795|
+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+------------+
only showing top 30 rows

In [ ]:
# Ordernar maiores valores já gastos 
df_3.orderBy(F.col('Total_Gastos').asc()).show(30)

+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+------------+
|ID_Cliente|Ano_Nascimento|Nivel_Escolaridade| Estado_Civil|Renda_Familiar_Anual|Crianças_em_Casa|Adolescentes_em_Casa|Data_Cadastro|Dias_Ultima_Compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carnes|Gasto_Pescados|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Online|Compras_Catalogo|Compras_Loja|Visitas_Site|Campanha3_Aceita|Campanha4_Aceita|Campanha5_Aceita|Campanha1_Aceita|Campanha2_Aceita|Reclamacao|Resposta_Campanha|Total_Gastos|
+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+------------+
|     11110|          1973|   Ensino Superior|  Solteiro(a)|              3502.0|               1|                   0|   2013-04-13|                56|          2|           1|           1|             0|          0|         1|               0|             0|               0|           0|          14|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           5|
|      5555|          1975|   Ensino Superior|Divorciado(a)|            153924.0|               0|                   0|   2014-02-07|                81|          1|           1|           1|             1|          1|         1|               0|             0|               0|           0|           0|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           6|
|      3955|          1965|   Ensino Superior|Divorciado(a)|              4861.0|               0|                   0|   2014-06-22|                20|          2|           1|           1|             1|          0|         1|               0|             0|               0|           0|          14|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           6|
|      6862|          1971|   Ensino Superior|Divorciado(a)|              1730.0|               0|                   0|   2014-05-18|                65|          1|           1|           3|             1|          1|         1|              15|             0|               0|           0|          20|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           8|
|      5824|          1972|         Doutorado|União Estável|             34578.0|               2|                   1|   2014-04-11|                 1|          7|           0|           1|             0|          0|         0|               1|             1|               0|           2|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           8|
|     10104|          1974|   Ensino Superior|União Estável|             33590.0|               2|                   1|   2013-11-03|                65|          4|           0|           2|             0|          0|         2|               1|             1|               0|           2|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           8|
|     11181|          1949|         Doutorado|    Casado(a)|            156924.0|               0|                   0|   2013-08-29|                85|          2|           1|           2|             1|          1|         1|               0|             0|               0|           0|           0|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           8|
|      8566|          1961|         Doutorado|União Estável|             32583.0|               1|                   1|   2014-06-15|                10|          5|           0|           3|             0|          0|         1|               1|             1|               0|           2|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           9|
|      9931|          1963|         Doutorado|    Casado(a)|              4023.0|               1|                   1|   2014-06-23|                29|          5|           0|           1|             1|          1|         1|              15|             0|               0|           0|          19|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           9|
|      6528|          1982|          Mestrado|União Estável|             18492.0|               1|                   0|   2014-06-05|                75|          2|           2|           2|             2|          1|         1|               1|             1|               0|           2|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          10|
|     10492|          1959|   Ensino Superior|União Estável|             38285.0|               2|                   1|   2014-06-24|                96|          2|           0|           5|             2|          0|         1|               1|             0|               0|           3|           2|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          10|
|      4298|          1973|         Doutorado|União Estável|             20427.0|               1|                   0|   2014-03-24|                63|          5|           0|           4|             0|          0|         1|               1|             1|               0|           2|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          10|
|      4259|          1986|          Mestrado|  Solteiro(a)|             19485.0|               2|                   0|   2013-09-24|                80|          6|           0|           4|             0|          0|         0|               1|             1|               0|           2|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          10|
|      7788|          1983|         Doutorado|    Casado(a)|             23536.0|               1|                   0|   2014-06-04|                53|          6|           0|           3|             0|          0|         1|               1|             0|               0|           3|           3|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          10|
|      6961|          1974|   Ensino Superior|    Casado(a)|             26751.0|               2|                   0|   2014-05-22|                26|          1|           1|           5|             0|          3|         1|               1|             1|               0|           2|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          11|
|      5329|          1949|         Doutorado|Divorciado(a)|             35946.0|               1|                   1|   2013-09-27|                24|          8|           0|           3|             0|          0|         0|               1|             0|               0|           3|           5|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          11|
|      1386|          1967|   Ensino Superior|União Estável|             32474.0|               1|                   1|   2014-05-11|                 0|         10|           0|           1|             0|          0|         0|               1|             1|               0|           2|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          11|
|      6742|          1979|   Ensino Superior|    Casado(a)|             17688.0|               1|                   0|   2013-01-13|                82|          2|           2|           1|             3|          1|         2|               1|             1|               0|           2|           8|             Não|             Não|             Não|             Não|             Não|       Sim|              Não|          11|
|       891|          1951|          Mestrado|União Estável|             29298.0|               1|                   1|   2013-09-07|                60|          6|           0|           2|             2|          0|         1|               1|             1|               0|           2|           5|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          11|
|      9725|          1966|         Doutorado|União Estável|             28764.0|               1|                   1|   2014-06-05|                16|          8|           0|           3|             0|          0|         1|               1|             1|               0|           2|           8|             Sim|             Não|             Não|             Não|             Não|       Não|              Não|          12|
|      1109|          1982|          Mestrado|União Estável|             27590.0|               1|                   0|   2013-04-23|                38|          6|           0|           5|             0|          0|         1|               1|             1|               0|           2|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          12|
|      2795|          1958|          Mestrado|  Solteiro(a)|             30523.0|               2|                   1|   2013-07-01|                 0|          5|           0|           3|             0|          0|         5|               1|             1|               0|           2|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          13|
|     11148|          1975|   Ensino Superior|União Estável|             22280.0|               1|                   0|   2013-05-19|                85|          2|           1|           4|             3|          1|         2|               1|             1|               0|           2|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          13|
|     10757|          1967|         Doutorado|Divorciado(a)|             28420.0|               1|                   0|   2013-12-24|                36|          4|           2|           5|             2|          0|         0|               1|             1|               0|           2|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          13|
|      7196|          1950|         Doutorado|    Casado(a)|             41145.0|               1|                   1|   2014-02-08|                20|          9|           0|           3|             0|          0|         1|               1|             0|               0|           3|           3|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          13|
|     10067|          1976|     Pós Graduação|União Estável|             25176.0|               1|                   1|   2013-08-10|                79|          4|           0|           4|             0|          0|         5|               1|             1|               0|           2|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          13|
|      5846|          1977|   Ensino Superior|Divorciado(a)|             40246.0|               1|                   0|   2012-12-19|                68|          2|           1|           6|             2|          1|         1|               1|             1|               0|           2|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          13|
|      5029|          1946|   Ensino Superior|    Casado(a)|             18100.0|               0|                   0|   2013-08-06|                14|          3|           1|           2|             4|          3|         1|               1|             0|               0|           3|           5|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          14|
|      9960|          1991|      Ensino Medio|  Solteiro(a)|             26868.0|               1|                   0|   2014-04-30|                52|          0|           0|           1|             8|          3|         2|               1|             1|               0|           2|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          14|
|     10241|          1975|     Pós Graduação|Divorciado(a)|             11448.0|               0|                   0|   2013-12-15|                16|          0|           0|           0|             6|          2|         6|               1|             1|               0|           2|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          14|
+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+------------+
only showing top 30 rows

In [ ]:
# Menores valores gastos
df_3.orderBy(F.col('Total_Gastos').desc()).show(30)

+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+------------+
|ID_Cliente|Ano_Nascimento|Nivel_Escolaridade| Estado_Civil|Renda_Familiar_Anual|Crianças_em_Casa|Adolescentes_em_Casa|Data_Cadastro|Dias_Ultima_Compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carnes|Gasto_Pescados|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Online|Compras_Catalogo|Compras_Loja|Visitas_Site|Campanha3_Aceita|Campanha4_Aceita|Campanha5_Aceita|Campanha1_Aceita|Campanha2_Aceita|Reclamacao|Resposta_Campanha|Total_Gastos|
+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+------------+
|      5350|          1991|          Mestrado|  Solteiro(a)|             90638.0|               0|                   0|   2014-02-13|                29|       1156|         120|         915|            94|        144|        96|               1|             3|               4|          10|           1|             Não|             Não|             Sim|             Não|             Não|       Não|              Sim|        2525|
|      5735|          1991|          Mestrado|  Solteiro(a)|             90638.0|               0|                   0|   2014-02-13|                29|       1156|         120|         915|            94|        144|        96|               1|             3|               4|          10|           1|             Não|             Não|             Sim|             Não|             Não|       Não|              Não|        2525|
|      1763|          1988|   Ensino Superior|União Estável|             87679.0|               0|                   0|   2013-07-27|                62|       1259|         172|         815|            97|        148|        33|               1|             7|              11|          10|           4|             Sim|             Não|             Sim|             Sim|             Não|       Não|              Sim|        2524|
|      4580|          1969|   Ensino Superior|    Casado(a)|             75759.0|               0|                   0|   2013-10-25|                46|       1394|          22|         708|            89|         91|       182|               1|             9|               7|           9|           5|             Sim|             Não|             Sim|             Sim|             Não|       Não|              Sim|        2486|
|      4475|          1949|         Doutorado|    Casado(a)|             69098.0|               0|                   0|   2013-02-16|                82|       1315|          22|         780|           145|          0|       178|               1|             7|               8|           9|           5|             Não|             Não|             Não|             Não|             Não|       Não|              Não|        2440|
|      5453|          1956|          Mestrado|    Casado(a)|             90226.0|               0|                   0|   2012-09-26|                26|       1083|         108|         649|           253|        151|       108|               1|             4|               7|          12|           2|             Não|             Não|             Não|             Sim|             Não|       Não|              Não|        2352|
|     10133|          1970|   Ensino Superior|  Solteiro(a)|             93790.0|               0|                   0|   2014-02-12|                16|       1302|          68|         731|            89|        114|        45|               0|             6|               7|          12|           2|             Não|             Sim|             Sim|             Sim|             Não|       Não|              Sim|        2349|
|      9010|          1972|          Mestrado|    Casado(a)|             83151.0|               0|                   0|   2013-02-10|                80|        968|         147|         842|           137|         42|       210|               1|             5|               7|          10|           2|             Sim|             Não|             Sim|             Sim|             Não|       Não|              Sim|        2346|
|      5386|          1953|   Ensino Superior|União Estável|             94384.0|               0|                   0|   2013-03-04|                62|       1111|          24|         790|           160|         45|       172|               0|             5|               8|           5|           2|             Não|             Sim|             Sim|             Sim|             Não|       Não|              Sim|        2302|
|      6024|          1953|   Ensino Superior|União Estável|             94384.0|               0|                   0|   2013-03-04|                62|       1111|          24|         790|           160|         45|       172|               0|             5|               8|           5|           2|             Não|             Sim|             Sim|             Sim|             Não|       Não|              Sim|        2302|
|      1553|          1946|   Ensino Superior|União Estável|             82657.0|               0|                   0|   2013-09-27|                71|        966|         168|         672|           246|        105|       126|               1|             7|               5|          10|           4|             Não|             Sim|             Não|             Sim|             Não|       Não|              Não|        2283|
|      2147|          1969|   Ensino Superior|União Estável|             76653.0|               0|                   0|   2013-08-16|                91|        736|          63|         946|           219|        189|       126|               1|             4|               7|          11|           2|             Não|             Não|             Sim|             Sim|             Não|       Não|              Não|        2279|
|      2186|          1977|     Pós Graduação|União Estável|             82326.0|               0|                   0|   2014-03-10|                30|        938|         142|         754|           159|         81|       183|               1|             5|              10|           6|           2|             Não|             Sim|             Sim|             Sim|             Não|       Não|              Sim|        2257|
|      1173|          1947|          Mestrado|União Estável|             77632.0|               0|                   0|   2013-03-10|                73|       1200|         105|         758|             0|         42|       147|               1|             4|               2|           6|           2|             Não|             Sim|             Sim|             Não|             Não|       Não|              Sim|        2252|
|       737|          1949|         Doutorado|    Casado(a)|             80360.0|               0|                   0|   2013-03-03|                56|       1493|          86|         454|           112|         43|        43|               2|             4|               4|           5|           2|             Não|             Sim|             Sim|             Sim|             Não|       Não|              Não|        2231|
|      6248|          1947|          Mestrado|  Solteiro(a)|             91712.0|               0|                   0|   2013-10-17|                47|       1276|          24|         746|            94|         29|        48|               0|             9|               7|          11|           3|             Não|             Não|             Sim|             Não|             Não|       Não|              Sim|        2217|
|      3334|          1951|   Ensino Superior|    Casado(a)|             94642.0|               0|                   0|   2014-02-12|                35|        879|         143|         797|           106|        143|       143|               0|             5|               7|           9|           1|             Não|             Não|             Sim|             Sim|             Não|       Não|              Não|        2211|
|      7503|          1976|   Ensino Superior|  Solteiro(a)|             75825.0|               0|                   0|   2012-10-12|                40|       1032|         105|         779|           137|        105|        51|               0|             5|               8|           9|           4|             Sim|             Não|             Não|             Não|             Não|       Não|              Sim|        2209|
|      5236|          1979|   Ensino Superior|União Estável|             77568.0|               0|                   1|   2012-08-25|                30|       1230|           0|         396|           232|        178|       158|               1|            10|               2|           8|           5|             Não|             Sim|             Sim|             Sim|             Não|       Não|              Não|        2194|
|       477|          1986|   Ensino Superior|    Casado(a)|             83512.0|               0|                   0|   2014-06-17|                31|       1060|          61|         835|            80|         20|       101|               1|             4|               7|          10|           1|             Sim|             Não|             Sim|             Sim|             Sim|       Não|              Sim|        2157|
|      7274|          1957|   Ensino Superior|    Casado(a)|             78618.0|               0|                   0|   2012-09-28|                87|        736|         163|         818|           212|        163|        61|               1|             4|               7|          10|           2|             Não|             Sim|             Não|             Não|             Não|       Não|              Não|        2153|
|      3698|          1983|   Ensino Superior|União Estável|             78687.0|               0|                   0|   2012-08-09|                13|        817|         185|         687|           145|         55|       241|               1|             4|               6|           8|           2|             Não|             Não|             Sim|             Não|             Não|       Não|              Sim|        2130|
|      8867|          1988|         Doutorado|    Casado(a)|             67546.0|               0|                   0|   2012-08-31|                90|        864|         134|         768|           150|         38|       172|               1|             4|              10|           5|           3|             Não|             Não|             Não|             Não|             Não|       Não|              Não|        2126|
|      2747|          1988|         Doutorado|    Casado(a)|             67546.0|               0|                   0|   2012-08-31|                90|        864|         134|         768|           150|         38|       172|               1|             4|              10|           5|           3|             Não|             Não|             Não|             Não|             Não|       Não|              Não|        2126|
|      6932|          1941|         Doutorado|    Casado(a)|             93027.0|               0|                   0|   2013-04-13|                77|       1285|          42|         716|            55|          0|        21|               0|             7|              10|           5|           2|             Não|             Não|             Sim|             Não|             Não|       Não|              Não|        2119|
|      6421|          1961|   Ensino Superior|União Estável|             88347.0|               0|                   0|   2013-07-03|                32|       1050|         178|         555|            77|        138|       118|               1|             4|               7|           9|           1|             Não|             Não|             Não|             Sim|             Não|       Não|              Não|        2116|
|      5830|          1972|         Doutorado|  Solteiro(a)|             86857.0|               0|                   0|   2012-09-12|                96|        899|         102|         838|           133|        102|        40|               1|             5|               6|          10|           2|             Não|             Não|             Não|             Não|             Não|       Não|              Sim|        2114|
|      9826|          1972|         Doutorado|  Solteiro(a)|             86857.0|               0|                   0|   2012-09-12|                96|        899|         102|         838|           133|        102|        40|               1|             5|               6|          10|           2|             Não|             Não|             Não|             Não|             Não|       Não|              Sim|        2114|
|      3403|          1958|         Doutorado|União Estável|             78952.0|               0|                   1|   2012-09-24|                11|       1170|          19|         594|            99|         76|       134|               2|             2|               5|          12|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|        2092|
|      7919|          1976|         Doutorado|União Estável|             72335.0|               0|                   0|   2012-08-13|                 2|       1285|         105|         653|            28|         21|         0|               1|            10|               4|           8|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Sim|        2092|
+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+------------+
only showing top 30 rows

In [ ]:
# Número de clientes por estado civil
df_3.groupBy('Estado_civil').count().show()

+-------------+-----+
| Estado_civil|count|
+-------------+-----+
|     Viúvo(a)|   77|
|Divorciado(a)|  232|
|    Casado(a)|  864|
|União Estável|  580|
|  Solteiro(a)|  487|
+-------------+-----+

In [ ]:
# Número de clientes por escolaridade
df_3.groupBy('Nivel_Escolaridade').count().show()

+------------------+-----+
|Nivel_Escolaridade|count|
+------------------+-----+
|         Doutorado|  486|
|   Ensino Superior| 1127|
|      Ensino Medio|   54|
|     Pós Graduação|  203|
|          Mestrado|  370|
+------------------+-----+

In [ ]:
# Estatísticas
df_3.summary().show()

+-------+------------------+------------------+------------------+------------+--------------------+-------------------+--------------------+-------------+------------------+------------------+------------------+-----------------+------------------+-----------------+----------------+----------------+------------------+------------------+-----------------+-----------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+-----------------+
|summary|        ID_Cliente|    Ano_Nascimento|Nivel_Escolaridade|Estado_Civil|Renda_Familiar_Anual|   Crianças_em_Casa|Adolescentes_em_Casa|Data_Cadastro|Dias_Ultima_Compra|       Gasto_Vinho|      Gasto_Frutas|     Gasto_Carnes|    Gasto_Pescados|      Gasto_Doces|      Gasto_Ouro|Compras_Desconto|    Compras_Online|  Compras_Catalogo|     Compras_Loja|     Visitas_Site|Campanha3_Aceita|Campanha4_Aceita|Campanha5_Aceita|Campanha1_Aceita|Campanha2_Aceita|Reclamacao|Resposta_Campanha|     Total_Gastos|
+-------+------------------+------------------+------------------+------------+--------------------+-------------------+--------------------+-------------+------------------+------------------+------------------+-----------------+------------------+-----------------+----------------+----------------+------------------+------------------+-----------------+-----------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+-----------------+
|  count|              2240|              2240|              2240|        2240|                2240|               2240|                2240|         2240|              2240|              2240|              2240|             2240|              2240|             2240|            2240|            2240|              2240|              2240|             2240|             2240|            2240|            2240|            2240|            2240|            2240|      2240|             2240|             2240|
|   mean| 5592.159821428571|1968.8058035714287|              null|        null|        51687.459375|0.44419642857142855|             0.50625|         null|         49.109375| 303.9357142857143|26.302232142857143|           166.95| 37.52544642857143|27.06294642857143|       44.021875|           2.325| 4.084821428571429|2.6620535714285714|5.790178571428571|5.316517857142857|            null|            null|            null|            null|            null|      null|             null|605.7982142857143|
| stddev|3246.6621975643416|11.984069456885827|              null|        null|   25609.34272959131| 0.5383980977345935|  0.5445382307698761|         null| 28.96245280837821|336.59739260537197|39.773433764578584|225.7153725117536|54.628979402878095|41.28049848785491|52.1674389149973|1.93223750085598|2.7787141473881007|2.9231006555397463|3.250958145674428| 2.42664500954729|            null|            null|            null|            null|            null|      null|             null|602.2492880109676|
|    min|                 0|              1893|         Doutorado|   Casado(a)|                 0.0|                  0|                   0|   2012-07-30|                 0|                 0|                 0|                0|                 0|                0|               0|               0|                 0|                 0|                0|                0|             Não|             Não|             Não|             Não|             Não|       Não|              Não|                5|
|    25%|              2826|              1959|              null|        null|             34704.0|                  0|                   0|         null|                24|                23|                 1|               16|                 3|                1|               9|               1|                 2|                 0|                3|                3|            null|            null|            null|            null|            null|      null|             null|               68|
|    50%|              5455|              1970|              null|        null|             51039.0|                  0|                   0|         null|                49|               173|                 8|               67|                12|                8|              24|               2|                 4|                 2|                5|                6|            null|            null|            null|            null|            null|      null|             null|              396|
|    75%|              8427|              1977|              null|        null|             68281.0|                  1|                   1|         null|                74|               504|                33|              232|                50|               33|              56|               3|                 6|                 4|                8|                7|            null|            null|            null|            null|            null|      null|             null|             1045|
|    max|             11191|              1996|     Pós Graduação|    Viúvo(a)|            666666.0|                  2|                   2|   2014-06-29|                99|              1493|               199|             1725|               259|              263|             362|              15|                27|                28|               13|               20|             Sim|             Sim|             Sim|             Sim|             Sim|       Sim|              Sim|             2525|
+-------+------------------+------------------+------------------+------------+--------------------+-------------------+--------------------+-------------+------------------+------------------+------------------+-----------------+------------------+-----------------+----------------+----------------+------------------+------------------+-----------------+-----------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+-----------------+

## Utilizar pelo menos duas Window Functions

In [ ]:
#Criando uma window
w0 = Window.partitionBy(df_3["Nivel_Escolaridade"]).orderBy("Renda_Familiar_Anual")

In [ ]:
# Rank - Número da linha - ordenação
df_3.withColumn('row_number', F.row_number().over(w0)).show(30)

+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+------------+----------+
|ID_Cliente|Ano_Nascimento|Nivel_Escolaridade| Estado_Civil|Renda_Familiar_Anual|Crianças_em_Casa|Adolescentes_em_Casa|Data_Cadastro|Dias_Ultima_Compra|Gasto_Vinho|Gasto_Frutas|Gasto_Carnes|Gasto_Pescados|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Online|Compras_Catalogo|Compras_Loja|Visitas_Site|Campanha3_Aceita|Campanha4_Aceita|Campanha5_Aceita|Campanha1_Aceita|Campanha2_Aceita|Reclamacao|Resposta_Campanha|Total_Gastos|row_number|
+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+------------+----------+
|      7281|          1959|         Doutorado|  Solteiro(a)|                 0.0|               0|                   0|   2013-11-05|                80|         81|          11|          50|             3|          2|        39|               1|             1|               3|           4|           2|             Não|             Não|             Não|             Não|             Não|       Não|              Não|         186|         1|
|      8996|          1957|         Doutorado|    Casado(a)|                 0.0|               2|                   1|   2012-11-19|                 4|        230|          42|         192|            49|         37|        53|              12|             7|               2|           8|           9|             Não|             Não|             Não|             Não|             Não|       Não|              Não|         603|         2|
|      8268|          1961|         Doutorado|    Casado(a)|                 0.0|               0|                   1|   2013-07-11|                23|        352|           0|          27|            10|          0|        15|               3|             6|               1|           7|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|         404|         3|
|      3769|          1972|         Doutorado|União Estável|                 0.0|               1|                   0|   2014-03-02|                17|         25|           1|          13|             0|          0|         3|               1|             1|               0|           3|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          42|         4|
|      1612|          1981|         Doutorado|  Solteiro(a)|                 0.0|               1|                   0|   2013-05-31|                82|         23|           0|          15|             0|          2|         7|               2|             3|               0|           3|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          47|         5|
|      9931|          1963|         Doutorado|    Casado(a)|              4023.0|               1|                   1|   2014-06-23|                29|          5|           0|           1|             1|          1|         1|              15|             0|               0|           0|          19|             Não|             Não|             Não|             Não|             Não|       Não|              Não|           9|         6|
|      5899|          1950|         Doutorado|União Estável|              5648.0|               1|                   1|   2014-03-13|                68|         28|           0|           6|             1|          1|        13|               1|             1|               0|           0|          20|             Sim|             Não|             Não|             Não|             Não|       Não|              Não|          49|         7|
|      4303|          1957|         Doutorado|União Estável|              6835.0|               0|                   1|   2012-12-08|                76|        107|           2|          12|             2|          2|        12|               0|             0|               0|           1|          20|             Não|             Não|             Não|             Não|             Não|       Não|              Não|         137|         8|
|      6237|          1966|         Doutorado|  Solteiro(a)|              7144.0|               0|                   2|   2013-12-07|                92|         81|           4|          33|             5|          2|       291|               0|            23|               1|           1|           0|             Não|             Não|             Não|             Não|             Não|       Não|              Não|         416|         9|
|      5835|          1976|         Doutorado|Divorciado(a)|             14849.0|               1|                   0|   2013-07-02|                39|         21|           2|          28|             3|          2|         9|               3|             2|               0|           4|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          65|        10|
|     11010|          1984|         Doutorado|  Solteiro(a)|             16269.0|               1|                   0|   2013-08-30|                75|         19|           3|          18|             3|          1|         0|               3|             3|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          44|        11|
|     10031|          1976|         Doutorado|    Casado(a)|             16927.0|               1|                   1|   2013-02-10|                50|         20|           2|          23|             3|          1|         4|               5|             3|               0|           4|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          53|        12|
|     10790|          1985|         Doutorado|    Casado(a)|             18169.0|               1|                   0|   2013-02-19|                40|          9|           0|           5|             0|          0|         7|               1|             1|               0|           2|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          21|        13|
|      4329|          1984|         Doutorado|    Casado(a)|             18988.0|               1|                   0|   2014-05-23|                43|          6|           0|           6|             2|          1|         1|               2|             1|               0|           3|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          16|        14|
|      4298|          1973|         Doutorado|União Estável|             20427.0|               1|                   0|   2014-03-24|                63|          5|           0|           4|             0|          0|         1|               1|             1|               0|           2|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          10|        15|
|      2549|          1983|         Doutorado|União Estável|             21840.0|               1|                   0|   2013-07-21|                80|         17|           0|           9|             0|          0|         1|               1|             1|               0|           3|           9|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          27|        16|
|      2156|          1955|         Doutorado|    Casado(a)|             22554.0|               1|                   1|   2012-11-03|                38|         27|           0|          10|             0|          0|         4|               4|             2|               0|           4|           5|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          41|        17|
|       213|          1963|         Doutorado|  Solteiro(a)|             23091.0|               1|                   1|   2014-05-28|                98|         35|           0|          11|             0|          0|         2|               4|             2|               1|           3|           7|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          48|        18|
|      7788|          1983|         Doutorado|    Casado(a)|             23536.0|               1|                   0|   2014-06-04|                53|          6|           0|           3|             0|          0|         1|               1|             0|               0|           3|           3|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          10|        19|
|      2230|          1970|         Doutorado|    Casado(a)|             23626.0|               1|                   0|   2014-05-24|                84|         27|           2|          14|             0|          0|         0|               3|             3|               1|           3|           5|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          43|        20|
|        13|          1947|         Doutorado|     Viúvo(a)|             25358.0|               0|                   1|   2013-07-22|                57|         19|           0|           5|             0|          0|         8|               2|             1|               0|           3|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          32|        21|
|      5093|          1974|         Doutorado|Divorciado(a)|             25509.0|               1|                   0|   2012-09-18|                15|         40|           3|          30|            10|          7|        11|               3|             3|               0|           3|           9|             Não|             Não|             Não|             Não|             Não|       Não|              Sim|         101|        22|
|      8524|          1974|         Doutorado|Divorciado(a)|             25509.0|               1|                   0|   2012-09-18|                15|         40|           3|          30|            10|          7|        11|               3|             3|               0|           3|           9|             Não|             Não|             Não|             Não|             Não|       Não|              Sim|         101|        23|
|      2868|          1949|         Doutorado|  Solteiro(a)|             26518.0|               1|                   1|   2013-04-08|                33|         20|           1|          28|             3|          3|         2|               3|             2|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Sim|          57|        24|
|      3286|          1967|         Doutorado|Divorciado(a)|             26642.0|               1|                   0|   2014-03-01|                71|         13|           2|          15|             2|          2|         8|               2|             2|               0|           3|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          42|        25|
|      3645|          1972|         Doutorado|  Solteiro(a)|             27213.0|               1|                   0|   2012-08-30|                19|         19|           3|          26|            10|          9|         3|               3|             2|               0|           4|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Sim|          70|        26|
|      6197|          1962|         Doutorado|  Solteiro(a)|             27238.0|               1|                   1|   2013-04-20|                39|         37|           0|          17|             0|          0|         3|               3|             3|               0|           3|           9|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          57|        27|
|      1291|          1978|         Doutorado|União Estável|             27683.0|               1|                   0|   2012-08-04|                90|        152|           9|         121|            12|         12|        45|               4|             6|               2|           4|           8|             Não|             Não|             Não|             Não|             Não|       Não|              Não|         351|        28|
|      7574|          1979|         Doutorado|União Estável|             27922.0|               1|                   0|   2014-05-10|                80|         11|           0|          13|             2|          4|        11|               1|             2|               0|           3|           4|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          41|        29|
|     10757|          1967|         Doutorado|Divorciado(a)|             28420.0|               1|                   0|   2013-12-24|                36|          4|           2|           5|             2|          0|         0|               1|             1|               0|           2|           6|             Não|             Não|             Não|             Não|             Não|       Não|              Não|          13|        30|
+----------+--------------+------------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+----------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-----------------+------------+----------+
only showing top 30 rows

In [ ]:
# Criando uma window
w1= Window.partitionBy(df_3["Nivel_Escolaridade"]).orderBy("Total_Compras")

## Select

In [ ]:
#df_3.select(F.col('Estado_Civil'), F.avg('Criancas_em_Casa'), F.avg('Adolescentes_em_Casa').groupBy(F.col('Estado_Civil').desc()).show()

In [ ]:
# Onde pessoas mais novas costumam fazer compras
df_3.select(F.col('Ano_Nascimento'), F.col('Compras_Online'), F.col('Compras_Catalogo'), F.col('Compras_Loja')).orderBy(F.col('Ano_Nascimento').asc()).show()

+--------------+--------------+----------------+------------+
|Ano_Nascimento|Compras_Online|Compras_Catalogo|Compras_Loja|
+--------------+--------------+----------------+------------+
|          1893|             1|               0|           2|
|          1899|             4|               6|           4|
|          1900|             2|               1|           2|
|          1940|             3|               1|           4|
|          1941|             7|              10|           5|
|          1943|             5|               3|           5|
|          1943|             3|               5|          10|
|          1943|             7|               5|          13|
|          1943|             5|               5|          11|
|          1943|             7|              10|           5|
|          1943|             7|              10|           5|
|          1943|             9|               3|          13|
|          1944|             4|               3|          13|
|          1944|             6|               8|          13|
|          1944|             6|               3|          10|
|          1944|             3|               1|           7|
|          1944|             7|               3|           4|
|          1944|             9|               4|           6|
|          1944|             5|              10|           5|
|          1945|            10|               6|           9|
+--------------+--------------+----------------+------------+
only showing top 20 rows

In [ ]:
# Onde as pessoas que possuem nivel de escolaridade mais baixa (Ensino médio) costuma comprar
df_3.select(F.col('Nivel_Escolaridade'), F.col('Compras_Desconto'), F.col('Compras_Online'), F.col('Compras_Catalogo')).filter(F.col('Nivel_Escolaridade') == "Ensino Medio").show(30)

+------------------+----------------+--------------+----------------+
|Nivel_Escolaridade|Compras_Desconto|Compras_Online|Compras_Catalogo|
+------------------+----------------+--------------+----------------+
|      Ensino Medio|               1|             2|               0|
|      Ensino Medio|               1|             1|               0|
|      Ensino Medio|               2|             1|               0|
|      Ensino Medio|               1|             2|               0|
|      Ensino Medio|               1|             1|               1|
|      Ensino Medio|               3|             3|               0|
|      Ensino Medio|               1|             1|               0|
|      Ensino Medio|               1|             4|               1|
|      Ensino Medio|               2|             1|               0|
|      Ensino Medio|               1|             1|               0|
|      Ensino Medio|               1|             2|               0|
|      Ensino Medio|               2|             2|               0|
|      Ensino Medio|               1|             1|               0|
|      Ensino Medio|               1|             1|               0|
|      Ensino Medio|               2|             2|               0|
|      Ensino Medio|               1|             1|               0|
|      Ensino Medio|               1|             1|               0|
|      Ensino Medio|               3|             2|               1|
|      Ensino Medio|               2|             2|               1|
|      Ensino Medio|               1|             2|               1|
|      Ensino Medio|               1|             0|               0|
|      Ensino Medio|               1|             1|               0|
|      Ensino Medio|               2|             2|               0|
|      Ensino Medio|               5|             2|               2|
|      Ensino Medio|               3|             3|               1|
|      Ensino Medio|               1|             1|               0|
|      Ensino Medio|               4|             3|               2|
|      Ensino Medio|               2|             4|               2|
|      Ensino Medio|               2|             3|               0|
|      Ensino Medio|               1|             1|               0|
+------------------+----------------+--------------+----------------+
only showing top 30 rows

In [ ]:
# Preferência do tipo de compra de clientes que possuem Doutrado
df_3.select(F.col('Nivel_Escolaridade'), F.col('Compras_Desconto'), F.col('Compras_Online'), F.col('Compras_Catalogo')).filter(F.col('Nivel_Escolaridade') == "Doutorado").show(30)

+------------------+----------------+--------------+----------------+
|Nivel_Escolaridade|Compras_Desconto|Compras_Online|Compras_Catalogo|
+------------------+----------------+--------------+----------------+
|         Doutorado|               5|             5|               3|
|         Doutorado|               2|             4|               0|
|         Doutorado|               1|             3|               0|
|         Doutorado|               1|             1|               0|
|         Doutorado|               1|             7|               6|
|         Doutorado|               3|             2|               3|
|         Doutorado|               3|             6|               2|
|         Doutorado|               1|             6|               9|
|         Doutorado|               6|             4|               1|
|         Doutorado|               5|             5|               6|
|         Doutorado|               2|             7|              10|
|         Doutorado|               1|             1|               3|
|         Doutorado|               9|             5|               2|
|         Doutorado|               3|             8|               2|
|         Doutorado|               1|             7|               3|
|         Doutorado|               5|             9|               2|
|         Doutorado|              12|             7|               2|
|         Doutorado|               3|             3|               1|
|         Doutorado|               2|             5|               2|
|         Doutorado|               2|             2|               0|
|         Doutorado|               1|             6|               3|
|         Doutorado|               1|             7|               4|
|         Doutorado|               5|             6|               4|
|         Doutorado|               3|             6|               1|
|         Doutorado|               4|             6|               3|
|         Doutorado|               5|             5|               1|
|         Doutorado|               1|             4|               5|
|         Doutorado|               3|             2|               2|
|         Doutorado|               2|             1|               1|
|         Doutorado|               2|             2|               0|
+------------------+----------------+--------------+----------------+
only showing top 30 rows

In [ ]:
# Renda familiar e estado civil de pessoas que possuem Doutorado
df_3.select(F.col('Nivel_Escolaridade'), F.col('Estado_Civil'), F.col('Renda_Familiar_Anual')).filter(F.col('Nivel_Escolaridade') == "Doutorado").show(30)

+------------------+-------------+--------------------+
|Nivel_Escolaridade| Estado_Civil|Renda_Familiar_Anual|
+------------------+-------------+--------------------+
|         Doutorado|    Casado(a)|             58293.0|
|         Doutorado|    Casado(a)|             33454.0|
|         Doutorado|União Estável|             30351.0|
|         Doutorado|União Estável|              5648.0|
|         Doutorado|  Solteiro(a)|             82800.0|
|         Doutorado|    Casado(a)|             58607.0|
|         Doutorado|    Casado(a)|             65324.0|
|         Doutorado|    Casado(a)|             84618.0|
|         Doutorado|Divorciado(a)|             46610.0|
|         Doutorado|    Casado(a)|             67353.0|
|         Doutorado|Divorciado(a)|             48948.0|
|         Doutorado|  Solteiro(a)|                 0.0|
|         Doutorado|    Casado(a)|             72550.0|
|         Doutorado|    Casado(a)|             55954.0|
|         Doutorado|     Viúvo(a)|             67680.0|
|         Doutorado|    Casado(a)|             60631.0|
|         Doutorado|    Casado(a)|                 0.0|
|         Doutorado|    Casado(a)|             23626.0|
|         Doutorado|    Casado(a)|             50150.0|
|         Doutorado|  Solteiro(a)|             34554.0|
|         Doutorado|    Casado(a)|             65846.0|
|         Doutorado|  Solteiro(a)|             68126.0|
|         Doutorado|    Casado(a)|             43974.0|
|         Doutorado|    Casado(a)|                 0.0|
|         Doutorado|União Estável|             77376.0|
|         Doutorado|    Casado(a)|             41551.0|
|         Doutorado|União Estável|             62981.0|
|         Doutorado|    Casado(a)|             33762.0|
|         Doutorado|  Solteiro(a)|             35860.0|
|         Doutorado|Divorciado(a)|             36921.0|
+------------------+-------------+--------------------+
only showing top 30 rows

In [ ]:
# Informações sobre clientes que já fizeram reclamação
#df_3.select(F.col('Reclamacao'), F.col('ID_Cliente'), F.col('Ano_Nascimento'), F.col('Nivel_Escolaridade'), F.col('Estado_Civil'), F.col('Criancas_em_Casa'), F.col('Adolescentes_em_Casa')).filter(F.col('Reclamacao') == "Sim").show(30)

## Inserindo os dados Tratados no Bucket e Mongo

In [ ]:
# Transformando o dataframe Pyspark em csv e inserindo no bucket
df_3.toPandas().to_csv('gs://liliatestesoulcode/Tratados/campanha_marketing_2.csv', index=False)

In [ ]:
# Puxando o csv tratado do bucket 
path_tratado = 'gs://liliatestesoulcode/Tratados/campanha_marketing_2.csv'

In [ ]:
# Transformando o csv tratado em df pandas
df_tratado = pd.read_csv(path_tratado, sep=',')

In [ ]:
# Convertendo o df pandas tratado em dicionário para inserir no Mongo
df_2 = df_tratado.to_dict("records")

In [ ]:
dbname = client['Soul_Code']

In [ ]:
collection_name = dbname['Dados_Campanha_Tratados']

In [ ]:
# Inserindo os dados no banco   
collection_name.insert_many(df_2)